@use "../../functions.scss" as *;

.nav {
  padding: 0 5%;
  $mobile: 950px;
  background-color: white;
  &__ctl {
    display: none;
    @include media($mobile) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-inline: pix-rem(16);
      position: absolute;
      top: 0;
      padding-block: pix-rem(20);
    }
  }
  .signinDesign {
    cursor: pointer;
  }
  &__closed {
    display: none;
    @include media($mobile) {
      display: block;
      cursor: pointer;
    }
  }
  &__open {
    display: none;
    @include media($mobile) {
      display: block;
      cursor: pointer;
    }
  }
  padding-block: pix-rem(20);
  &__mobile {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: auto;
    @include media(1100px) {
      width: 77%;
    }
    @include media($mobile) {
      position: fixed;
      flex-direction: column;
      z-index: 4;
      align-items: center;
      top: 0;
      bottom: 0;
      z-index: 4;
      background-color: white;
      inset: 0;
      left: 0;
      justify-content: center;
      width: 100vw;
      display: none;
    }
  }
  @include media($mobile) {
    &__active {
      display: flex;
      position: fixed;
      flex-direction: column;
      z-index: 4;
      align-items: center;
      top: 0;
      bottom: 0;
      z-index: 4;
      background-color: white;
      inset: 0;
      left: 0;
      justify-content: flex-start;
      padding-top: pix-rem(80);
      width: 100vw;
    }
  }

  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(100%, pix-rem(1264));
    margin-inline: auto;
    padding-inline: pix-rem(16);
    position: relative;

    a {
      text-decoration: none !important;
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        cursor: pointer;

        // color: white;
      }
    }
  }
  &__links {
    display: flex;
    gap: clamp(pix-rem(50), 6vw, pix-rem(100));
    align-items: center;
    cursor: pointer;
    font-size: pix-rem(20);
    @include media($mobile) {
      flex-direction: column;
      align-items: center;
      cursor: pointer;
    }
    & > * {
      all: unset;
      color: #5e5e5e;
      font-weight: 300;
      transition: scale 0.2s;
      &:hover {
        color: #006cff;
        scale: 1.1;
      }
    }
  }
  &__img {
    max-width: pix-rem(172);
    @include media(1150px) {
      max-width: pix-rem(86);
    }
  }
  .activeDashboard {
  background-color: #006cff;
  color: white;
  &:hover {
    background-color: transparent !important;
    color: #006cff !important;
  }
}
  &__ctas {
    display: flex;
    gap: pix-rem(24);
    cursor: pointer;

    a {
      font-size: clamp(0.625rem, 0.489rem + 0.68vw, 1rem);
      cursor: pointer;
      border: 1px solid #006cff;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      &:hover {
        // scale: 1.05;
      }

      &:nth-child(1) {
        // color: #006cff;
        .ctas__button {
          color: #006cff;
        }
        &:hover {
          background-color: #006cff;
          color: white;
          .ctas__button {
            color: white;
          }
        }
      }
      &:nth-child(2) {
        background-color: #006cff;
        color: white;
        .ctas__button {
          color: white !important;
        }
        &:hover {
          background-color: transparent;
          color: #006cff;
          .ctas__button {
            color: #006cff !important;
          }
        }
      }
    }

    @include media($mobile) {
      padding-top: pix-rem(40);
      flex-direction: column;
    }
    & > * {
      all: unset;
      padding: pix-rem(16, em) pix-rem(32, em);
      border-radius: pix-rem(4);

      @include media($mobile) {
        text-align: center;
        max-width: pix-rem(178);
        flex: 1;
      }
    }
  }
}

