@mixin btn {
    font-family: 'Kanit', sans-serif;
    background: #006CFF;
    padding: 15px 20px;
    color: #fff;
    border: 0;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    width: 180px;
    font-size: 18px;
    position: relative;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

@mixin btnStates {
    &:hover {
        background: transparent;
        border-color: #006CFF;
        color: #006CFF;
    }

    &:active {
        top: 2px;
    }
}

@mixin btnTrans {
    font-family: 'Kanit', sans-serif;
    padding: 15px 20px;
    background: transparent;
    color: #006CFF;
    border: 1px solid #006CFF;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    width: 180px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
    transition: all 0.3s ease;
}
@mixin btnTransStates {
    &:hover {
        background: #006CFF;
        border-color: #fff;
        color: #fff;
    }

    &:active {
        top: 3px;
    }
}

@mixin containers {
    width: 90%;
    margin: auto;
}

@mixin flexItem($justifyContent, $direction) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
    justify-content: $justifyContent;
}

.contentSection {
    // padding: 8rem 0;
    .containers {
        @include containers;
    
        .flexItems {
            @include flexItem(space-between, row);
    
            .txtItem {
                width: 45%;
    
                h1 {
                    color: #005584;
                    font-size: 3.3vw !important;
                    line-height: 1.5;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
    
                p {
                    font-size: 20px !important;
                    color: #3F3F3F;
                    font-weight: 300;
                }
    
                .btns {
                    display: flex;
                    align-items: center;
                    gap: 4rem;
                    margin-top: 40px;
    
                    .filled {
                        @include btn;

                        &:hover {
                            @include btnStates;
                        }
                    }
        
                    .transparent {
                        @include btnTrans;

                        &:hover {
                            @include btnTransStates;
                        }
                    }
                }
            }
    
            .imgItem {
                width: 50%;
    
                img {
                    width: 100%;
                }
            }
        }
    }
}

.whyScrybe {
    .containers {
        @include containers;

        h1 {
            color: #005584;
            font-weight: 600;
            font-size: 30px !important;
            text-align: center;
            margin-bottom: 16px;
        }

        p {
            font-size: 20px !important;
            color: #3F3F3F;
            font-weight: 300;
            text-align: center;
            width: 100%;
            margin: auto;
        }

        .cardContainers {
            @include flexItem(space-around, row);
            margin: 3.5rem auto 0 auto;
            width: 80%;

            .card {
                width: 27%;
                height: 300px;
                border: 1px solid #B0D1FF;
                filter: drop-shadow(2px 2px 10px #C5C5C514);
                padding: 40px 20px;
                border-radius: 7px;
                @include flexItem(center, column);

                img {
                    width: 100px;
                }

                p {
                    color: #005584;
                    font-size: 16px !important;
                    line-height: 1.6;
                    width: 100%;
                    margin-top: 30px;
                }
            }

        }
    }
}

.bussSection {
    .containers {
        @include containers;

        .bussFlex{
            @include flexItem(space-between, row);

            .bussTxt {
                width: 50%;
                h1 {
                    color: #005584;
                    margin: 0 0 20px 0;
                    font-size: 2vw !important;
                    line-height: 1.6;
                }

                p {
                    color: #3F3F3F;
                    font-size: 1.5vw !important;
                    line-height: 1.8;
                    margin-bottom: 8px;
                }

                h4 {
                    font-size: 1.4vw !important;
                    font-weight: 600;
                    color: #006CFF;
                }
            }

            .bussImg  {
                width: 45%;

                img {
                    width: 100%;
                }
            }
        }
    }
}

.monitorSection {
    .containers {
        @include containers;

        .monitorFlex{
            @include flexItem(space-between, row);

            .bussTxt {
                width: 50%;
                h1 {
                    color: #005584;
                    margin: 0 0 20px 0;
                    font-size: 2.2vw !important;
                    line-height: 1.6;
                }

                p {
                    color: #3F3F3F;
                    font-size: 1.4vw !important;
                    line-height: 1.9;
                    margin-bottom: 8px;

                    span {
                        color: #006CFF;
                        font-weight: 600;
                    }
                }

                h4 {
                    font-size: 1.4vw !important;
                    font-weight: 600;
                    color: #006CFF;
                }
            }

            .bussImg  {
                width: 45%;

                img {
                    width: 100%;
                }

                .img {
                    width: 90%;
                    margin: auto;
                }
            }
        }
    }
}

.containers {
    @include containers;
    padding: 6rem 0;

    .uploadContainers {
        background: url(./assets/blur-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 3rem;

        .cont {
            width: 80%;
            margin: auto;
            text-align: center;

            h4 {
                font-size: 23px !important;
                color: #3F3F3F;
                margin-bottom: 20px;
            }

            h1 {
                font-size: 55px !important;
                color: #006CFF;;
                font-weight: 600;
                letter-spacing: 2px;
                margin-bottom: 20px;
            }

            button {
                @include btn;

                &:hover {
                    @include btnStates;
                }
            }
        }
    }
}

.containers {
    @include containers;

    .setblurContainers {
        background: url(./assets/set-blur.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 3rem;

        .cont {
            width: 80%;
            margin: auto;
            text-align: center;

            h4 {
                font-size: 23px !important;
                color: #3F3F3F;
                margin-bottom: 20px;
            }

            h1 {
                font-size: 55px !important;
                color: #006CFF;
                font-weight: 600;
                letter-spacing: 2px;
                margin-bottom: 20px;
            }

            button {
                @include btn;

                &:hover {
                    @include btnStates;
                }
            }
        }
    }
}

.logoSection {
    padding: 0 0 13rem 0;

    .containers {
        text-align: center;
        h1 {
            color: #262626;
            font-size: 40px !important;
            margin-bottom: 16px;
        }

        p {
            font-size: 19px !important;
            color: #3F3F3F;
        }

        .logoFlex {
            display: flex;
            align-items: center;
            width: 80%;
            flex-wrap: wrap;
            margin: 3rem auto 0 auto;
            row-gap: 3rem;
            justify-content: space-around;

            img {
                width: 260px;
            }
        }
    }
}

@media (max-width: 985px) {
    .contentSection {
        .containers {
            .flexItems {
                flex-direction: column;
                row-gap: 4rem;

                .txtItem, .imgItem {
                    width: 100%;
                }

                .txtItem {
                    text-align: center;

                    h1 {
                        font-size: 40px !important;
                    }

                    p {
                        font-size: 20px !important;
                    }

                    .btns {
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }

    .whyScrybe {
        .containers {
            .cardContainers {
                flex-direction: column;
                row-gap: 3rem;

                .card {
                    width: 38%;
                }
            }
        }
    }

    .containers {
        .setblurContainers {
            .cont {
                h1 {
                    font-size: 30px !important;
                }

                h4 {
                    font-size: 18px !important;
                }
            }
        }
    }

    .containers {
        .uploadContainers {
            .cont {
                h1 {
                    font-size: 30px !important;
                    text-align: center;
                }

                h4 {
                    font-size: 18px !important;
                }
            }
        }
    }

    .bussSection {
        .containers {

            .bussFlex {
                @include flexItem(space-between, column);
                row-gap: 6rem;
    
                .bussTxt, .bussImg {
                    width: 100%;
                    text-align: center;
                }

                .bussTxt {
                    h1 {
                        font-size: 30px !important;
                    }

                    p , h4{
                        font-size: 19px !important;
                    }
                }
            }
        }
    }

    .monitorSection {
        .containers {
            .monitorFlex {
                @include flexItem(space-between, column-reverse );
                row-gap: 6rem;

                .bussTxt, .bussImg {
                    width: 100%;
                    text-align: center;
                }

                .bussTxt {
                    h1 {
                        font-size: 30px !important;
                    }

                    p , h4{
                        font-size: 19px !important;
                    }
                }
            }
        }
    }
}


@media (max-width: 920px) {
    .whyScrybe {
        .containers {
            .cardContainers {
                .card {
                    width: 45%;
                }
            }
        }
    }
}

@media (max-width: 790px) {
    .whyScrybe {
        .containers {
            p {
                width: 80%;
            }
            .cardContainers {
                .card {
                    width: 55%;
                }
            }
        }
    }
}

@media (max-width: 570px) {
    .whyScrybe {
        .containers {
            .cardContainers {
                .card {
                    width: 65%;
                }
            }
        }
    }
}


@media (max-width: 550px) {
    .whyScrybe {
        .containers {
            .cardContainers {
                .card {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .contentSection {
        .containers {
            .flexItems {
                .txtItem {
                    .btns {
                        flex-direction: column;
                        gap: 2rem;
                    }
                }
            }
        }
    }

    .containers {
        .setblurContainers, .uploadContainers {
            .cont {
                width: 100%;
            }
        }
    }
}