img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
label,
span,
button {
  font-family: "Poppins", sans-serif;
}

.sect__container {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}

.first__section {
  background-color: #f5f8ff;
  padding: 3.5em 0em;

  .hero__flex {
    display: flex;
    flex-direction: column;
  }

  .hero__text {
    text-align: center;
  }

  .hero__text .hero__head {
    font-size: 2.2rem;
    color: #313131;
    font-weight: 700;
    font-style: bold;
    fill: solid;
    line-height: 1.5rem;
  }

  .hero__subtext {
    width: 95%;
    margin: 2em auto;
  }

  .hero__text .hero__subhead {
    font-size: 0.9rem;
    color: #454545;
    font-weight: 400;
    font-style: normal;
    fill: solid;
    line-height: 0.8rem;
  }

  .hero__bottom .hero__action {
    border: 1px solid #d9d9d9;
    border-radius: 0.3rem;
    background-color: #ffffff;
    // padding: .2em .5em;
    padding: 0.5em 1em;
    width: 100%;
    margin: 0 auto;
  }

  .hero__bottom .button__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }

  .hero__bottom .button__content .hero__buttons {
    width: "48%";
  }

  .hero__bottom .hero__buttonOne,
  .hero__bottom .hero__buttonTwo {
    padding: 1em 2em;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    fill: solid;
    line-height: 1.5rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    width: 100%;
    cursor: pointer;
  }

  .hero__bottom .hero__buttonOne {
    background-color: #006cff;
    color: #ffffff;
    white-space: nowrap;
  }

  .hero__bottom .hero__buttonOne:hover {
    // border: 1px solid #006CFF;
    background-color: #ffffff;
    color: #006cff;
  }

  .hero__bottom .hero__buttonTwo {
    // border: 1px solid #006CFF;
    background-color: #ffffff;
    color: #006cff;
  }

  .hero__bottom .hero__buttonTwo:hover {
    background-color: #006cff;
    color: #ffffff;
  }

  .hero__bottom .hero__image {
    margin-top: 2.5em;
  }
}

// Styling of the second section
.second__section {
  margin-top: 3.5em;

  .second__top {
    text-align: center;
    margin-bottom: 2em;
  }

  .second__top .second__head {
    font-size: 2rem;
    color: #313131;
    font-weight: 700;
    font-style: bold;
    fill: solid;
    line-height: 2rem;
  }

  .second__bottom .second__flex {
    border: 1px solid #d9d9d9;
    margin-bottom: 1em;
    padding: 1.5em 1em;
    border-radius: 0.8rem;
  }

  .second__bottom .top__layout {
    text-align: center;
  }

  .second__bottom .second__icons {
    width: 2rem;
    margin: 0 auto;
  }

  .second__bottom .each__heading {
    padding: 0em 1.5em;
    margin-top: 0.5em;
  }

  .second__bottom .each__head {
    font-size: 1.5rem;
    color: #313131;
    font-weight: 700;
    font-style: bold;
    fill: solid;
    line-height: 1.5rem;
  }

  .second__bottom .bottom__layout {
    margin-top: 1em;
    text-align: center;
  }

  .second__bottom .second__subhead {
    font-size: 0.8rem;
    color: #454545;
    font-weight: 400;
    font-style: normal;
    fill: solid;
    line-height: 1.25rem;
  }
}

.third__section {
  margin-top: 3.5em;

  .third__top {
    text-align: center;
  }

  .third__top .third__head {
    font-size: 2.5rem;
    color: #313131;
    font-weight: 700;
    font-style: bold;
    fill: solid;
    line-height: 1.5rem;
  }

  .third__bottom .third__row {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2.5em;
  }

  .third__bottom .third__col {
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
  }

  .third__bottom .third__text {
    margin-top: 1.3em;
  }

  .third__bottom .mobile__text {
    text-align: center;
  }

  .third__bottom .third__subtext {
    font-size: 1.2rem;
    color: #454545;
    font-weight: 600;
    font-style: bold;
    fill: solid;
    line-height: 1rem;
  }

  .third__bottom .third__lists {
    margin-left: 1.5em;
  }

  .third__bottom .third__lists .each__list {
    list-style: disc;
    font-size: 1.2rem;
    color: #454545;
    font-weight: 600;
    font-style: bold;
    fill: solid;
    line-height: 1rem;
  }
}

.fourth__section {
  margin-top: 3.5em;

  .fourth__heading .fourth__head {
    font-size: 2.5rem;
    color: #313131;
    font-weight: 700;
    font-style: bold;
    fill: solid;
    line-height: 1.2rem;
  }

  .fourth__heading .fourth__inline {
    color: #006cff;
  }

  .layout__one .client__test {
    border: 1px solid #d9d9d9;
    margin-top: 1em;
    padding: 1.5em 1em;
    border-radius: 0.3rem;
  }

  .layout__one .profile__pic {
    width: 5rem;
    margin: 0 auto;
  }

  .layout__one .profile__head,
  .layout__one .profile__text,
  .fourth__heading {
    text-align: center;
  }

  .layout__one .profile__head {
    margin: 1.5em 0em;
  }

  .layout__one .profile__name {
    font-size: 1.2rem;
    color: #006cff;
    font-weight: 600;
    font-style: bold;
    fill: solid;
    line-height: 1rem;
  }

  .layout__one .profile__msg {
    font-size: 0.9rem;
    color: #666666;
    font-weight: 300;
    font-style: normal;
    fill: solid;
    line-height: 1rem;
  }
}

.fifth__section {
  background-color: #f5f8ff;
  margin-top: 3.5em;
  padding: 3.5em 0em;

  .top__fifth .fifth__heading {
    text-align: center;
    margin-bottom: 1em;
  }

  .top__fifth .fifth__head {
    font-size: 2.5rem;
    color: #313131;
    font-weight: 700;
    font-style: bold;
    fill: solid;
    line-height: 1.5rem;
  }

  .top__fifth .fifth__subtext {
    text-align: center;
    width: 60%;
    margin: 0 auto 4em;
  }

  .top__fifth .fifth__subhead {
    font-size: 1.25rem;
    color: #454545;
    font-weight: 600;
    font-style: bold;
    fill: solid;
    line-height: 1.5rem;
  }

  .bottom__fifth {
    text-align: center;
  }

  .bottom__fifth .fifth__action {
    font-size: 0.8rem;
    color: #ffffff;
    font-weight: 500;
    font-style: medium;
    fill: solid;
    line-height: 1.5rem;
    padding: 0.8em 2.5em;
    background-color: #006cff;
    border: 1px solid transparent;
    outline: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  .bottom__fifth .fifth__action:hover {
    border: 1px solid #006cff;
    background-color: #ffffff;
    color: #006cff;
  }
}

@media (min-width: 400px), (min-width: 500px) {
  .first__section {
    .hero__bottom .hero__action {
      width: 90%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 501px), (min-width: 600px) {
  .first__section {
    .hero__bottom .hero__action {
      width: 70%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 601px), (min-width: 750px) {
  .first__section {
    .hero__bottom .hero__action {
      width: 60%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 800px) {
  //Styling of the first section

  .first__section {
    .hero__bottom .hero__action {
      display: flex;
      justify-content: space-between;
      width: 50%;
      margin: 0 auto;
    }

    .hero__text .hero__head {
      font-size: 3rem;
    }

    .hero__subtext {
      width: 95%;
      margin-bottom: 3.5em;
    }

    .hero__text .hero__subhead {
      font-size: 1.25rem;
    }

    .hero__bottom {
      margin-bottom: 5em;
    }

    .hero__image {
      padding-top: 3em;
    }
  }

  //Styling of the second section

  .second__section {
    margin-top: 3em;

    .second__top .second__head {
      font-size: 2.5rem;
    }

    .second__bottom {
      display: flex;
      justify-content: space-between;
    }

    .second__bottom .second__flex {
      flex-basis: 30%;
    }

    .second__bottom .second__icons {
      width: 3rem;
    }

    .second__bottom .each__head {
      font-size: 1.8rem;
    }

    .second__bottom .second__subhead {
      font-size: 1rem;
    }
  }

  //Styling of the third section

  .third__section {
    margin-top: 8em;

    .third__top {
      margin-bottom: 4em;
    }

    .third__top .third__head {
      font-size: 3rem;
    }

    .third__bottom .third__row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 4em;
    }

    .third__bottom .third__col {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 4em;
    }

    .third__bottom .third__text {
      margin-top: 0em;
      width: 45%;
    }

    .third__bottom .third__image {
      width: 45%;
    }

    .third__bottom .mobile__text {
      text-align: unset;
    }

    .third__bottom .third__subtext {
      font-size: 1.5rem;
    }

    .third__bottom .third__lists .each__list {
      font-size: 1.5rem;
    }
  }

  //Styling of the fourth section

  .fourth__section {
    margin-top: 8em;

    .layout__one {
      display: flex;
      justify-content: space-between;
    }

    .layout__one .client__test {
      flex-basis: 48%;
    }

    .fourth__heading {
      margin-bottom: 2em;
    }

    .fourth__heading .fourth__head {
      font-size: 2.8rem;
    }

    .layout__one .client__test {
      padding: 1.5em 2em 3em;
    }

    .layout__one .profile__name {
      font-size: 1.5rem;
    }

    .layout__one .profile__msg {
      font-size: 1.1rem;
      color: #666666;
      font-weight: 300;
      font-style: normal;
      fill: solid;
      line-height: 1rem;
    }
  }

  .fifth__section {
    .top__fifth .fifth__head {
      font-size: 2.8rem;
    }

    .bottom__fifth .fifth__action {
      padding: 1.2em 4em;
    }
  }
}

@media (min-width: 1024px), (min-width: 1440px) {
  .first__section {
    .hero__bottom .hero__action {
      width: 28%;
      margin: 0 auto;
    }
  }
}

@media only screen and (min-width: 1515px) {
  .sect__container {
    padding: 0 2.5em;
  }
}
