@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap');

.transcribeProcessingContainer{

    .transcribeProcess{
        width: 100%;
        display: flex;
        justify-content: center;
    }


    .progress{
        width: 100%;
        padding: 0.3vh 0.2%;
        border: 2.0958px solid #8AB1C6;
        border-radius: 25px;
    }
    .progress .color{
        // position: absolute;
        background: #3389FF;
        opacity: 0.56;
        width: 0px;
        height: 4.6vh;
        border-radius: 15px;
        animation: progres 2s infinite linear;    
    }
    @keyframes progres{
        0%{
          width: 0%;
        }
        25%{
            width: 50%;
        }
        50%{
            width: 75%;
        }
        75%{
            width: 85%;
        }
        100%{
            width: 100%;
        }
    };
    .wait{
        margin: 5vh 0;
        p{
            font-weight: 400;
            font-size: 1.05rem;
            line-height: 26px;
            color: #6A6A6A;
            text-align: center!important;
        }
        .signUp{
            text-decoration: none;
            color: #006CFF;
        }
    }
}

.progress{
    position: relative;
    width: 50%;
    padding: 0.3vh 0.2%;
    border: 2.0958px solid #8AB1C6;
    border-radius: 25px;
}
.progress .color{
    // position: absolute;
    background: #3389FF;
    opacity: 0.56;
    width: 0px;
    height: 4.6vh;
    border-radius: 15px;
    animation: progres 2s infinite linear;    
}
@keyframes progres{
    0%{
      width: 0%;
    }
    25%{
        width: 50%;
    }
    50%{
        width: 75%;
    }
    75%{
        width: 85%;
    }
    100%{
        width: 100%;
    }
};
.wait{
    margin: 5vh 0;
    p{
        font-weight: 400;
        font-size: 1.05rem;
        line-height: 26px;
        color: #6A6A6A;
        text-align: center!important;
    }
    .signUp{
        text-decoration: none;
        color: #006CFF;
    }
}