.industry a {
  text-decoration: none;
  color: #434342;
}

.industry .container {
  max-width: 76rem;
  margin: 0 auto;
}

.industry .banner {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.industry .banner h1 {
  font-size: 3rem;
  padding-top: 15%;
  font-weight: 600;
  color: #1d1d1d;
}

.industry .banner p {
  font-size: 1.25rem;
  font-weight: 300;
  color: #454545;
}

.industry .card {
  display: block;
  width: 98%;
  margin: 7% auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid #c5c5c5;
  border-radius: 8px;
  padding: 3%;
  box-shadow: 0 8px 8px -4px rgba(197, 197, 197, 0.08);
  cursor: pointer;
  transition: all 0.5s;
}

.industry .card:hover {
  box-shadow: 0 8px 8px -4px rgba(0, 106, 255, 0.5);
}

.industry .card h2 {
  font-size: 2rem;
}

.industry .titleCard {
  width: 43%;
  height: auto;
  border-radius: 10px;
  color: #fcfaf7;
}

.industry .titleCard img {
  max-width: 100%;
  object-fit: cover;
}

.industry h2 {
  font-size: 1.25rem;
  line-height: 1.625rem;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 10px;
}

.industry .postDetails {
  width: 51%;
}

.industry .postDetails h3 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.063rem;
  padding: 2% 0 4%;
}

.industry .postDetails p {
  width: 90%;
  font-size: 1rem;
  line-height: 1.5rem;
}

.industry p {
  font-size: 1.25rem;
  font-weight: 300;
  display: inline-block;
  line-height: 1.625rem;
  color: #454545;
}

.industry h4 {
  font-size: 1.25rem;
  font-weight: 300;
  color: #434342;
}

.industry h4 span {
  font-size: 1.25rem;
  color: #434342;
  font-weight: 600;
  margin-right: 10px;
}

.industry .articleBanner {
  display: flex;
  margin-top: 7%;
  gap: 5%;
}

.industry .articleDetails h3 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.0623rem;
  color: #434342;
}

.industry .articleDetails {
  flex: 40%;
}

.industry .articleDetails h2 {
  padding: 6% 0 1%;
}

.industry .articleDetails h3 {
  padding-bottom: 2%;
}

.industry .articleBody {
  padding-top: 1rem;
}
.industry .articleBody p {
  padding-top: 1rem;
}
.industry .articleBody a {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.625rem;
  color: #006aff;
  text-decoration: none;
}

.industry p.bold {
  font-weight: 700;
  padding-bottom: 10px;
}

.industry .articleBody ul {
  padding-left: 1.875rem;
}

.industry .articleBody ul li {
  font-size: 1.25rem;
  font-weight: 300;
  padding-bottom: 10px;
  color: #454545;
}
.industry .articleBody ul li span {
  color: #454545;
  padding-right: 10px;
}

@media screen and (max-width: 1240px) {
  .industry .container {
    padding: 3%;
  }
  .industry .banner h1 {
    font-size: 2.5rem;
  }
  .industry .banner p {
    font-size: 1rem;
  }

  .industry .card h2 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 1024px) {
  .industry .banner h1 {
    font-size: 2.25rem;
  }
  .industry .banner p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .industry .card h2 {
    font-size: 1rem;
    padding: 0;
  }
  .industry .postDetails h3 {
    font-size: 1.25rem;
    line-height: 1.562rem;
    padding: 2% 0 2%;
  }
  .industry .postDetails p {
    width: 90%;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .industry h4 {
    font-size: 1rem;
  }

  .industry h4 span {
    font-size: 1rem;
  }

  .industry .articleDetails {
    padding-right: 5%;
  }

  .industry .articleDetails h3 {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 2.0625rem;
  }

  .industry .articleDetails h2 {
    font-size: 1rem;
  }
  .industry .articleDetails p {
    font-size: 1rem;
  }

  .industry .articleBody p {
    font-size: 1rem;
  }

  .industry .articleBody ul {
    padding-bottom: 3%;
  }

  .industry .articleBody ul li {
    font-size: 1rem;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .industry .banner h1 {
    font-size: 1.875rem;
  }

  .industry .card h2 {
    font-size: 0.875rem;
    padding: 0;
  }
  .industry .postDetails h3 {
    font-size: 1rem;
    line-height: 1.562rem;
    padding: 2% 0 2%;
  }
  .industry .postDetails p {
    width: 90%;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .industry h4 {
    font-size: 0.875rem;
  }

  .industry h4 span {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 620px) {
  .industry .banner {
    width: 70%;
  }
  .industry .card {
    flex-direction: column;
  }
  .industry .titleCard {
    width: 100%;
  }
  .industry .titleCard img {
    padding-top: 2rem;
  }

  .industry .postDetails {
    width: 100%;
  }

  .industry .articleBanner {
    flex-direction: column;
    padding-bottom: 5%;
  }

  .industry .articleDetails h3 {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
  }
  .industry .articleDetails h2 {
    font-size: 0.8rem;
  }
  .industry .articleDetails h4 {
    font-size: 0.675rem;
  }
  .industry .articleDetails h4 span {
    font-size: 0.675rem;
  }
}
