.card_style {
    width: 335px;
    height: 128px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    box-shadow: 0px 20px 24px -4px rgba(197, 197, 197, 0.08), 0px 8px 8px -4px rgba(197, 197, 197, 0.03);
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
}

.icon {
    background-color: white;
    .img {
        height: 40px;
        width: 40px;
    }
}

.message {
    margin-left: 1.3rem;
    h1 {
        font-size: 17px ;
        font-weight: 600;
        margin-bottom: .5rem;
    }
    p {
        font-size: 15px !important;
        color: #828282;
    }
}

@media screen and (max-width: 900px) {
    .card_style {
        width: 100%;
        margin-bottom: 1.5rem;
    }
    
    .icon {
        background-color: white;
        .img {
            height: 40px;
            width: 40px;
        }
    }
    
    .message {
        h1 {
            font-size: 16px;
            font-weight: 600;
        }
        p {
            font-size: 14px;
            color: #828282;
        }
    }
    
}