// just some code

.industryCard a {
    text-decoration: none;
    color: #434342;
}

.industryCard .container {
    max-width: 76rem;
    margin: 0 auto;
}

.industryCard .banner {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    
}

.industryCard .banner h1{
    font-size: 3rem;
    padding-top: 15%;
    font-weight: 600;
    color: #1D1D1D;
}

.industryCard .banner p {
    font-size: 1.25rem;
    font-weight: 300;
    color: #454545;
}

.industryCard .card {
    display: block;
    width: 98%;
    margin: 7% auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid #C5C5C5;
    border-radius: 8px;
    padding: 3%;
    box-shadow: 0 8px 8px -4px rgba(197, 197, 197, 0.08);
    cursor: pointer;
    transition: all 0.5s;
}

.industryCard .card:hover {
    box-shadow: 0 8px 8px -4px rgba(0, 106, 255, 0.5);
}

.industryCard .card h2 {
    font-size: 2rem;
}

.industryCard .titleCard {
    width: 43%;
    height: auto;
    border-radius: 10px;
    color: #FCFAF7;
}

.industryCard .titleCard img {
    max-width: 100%;
    object-fit: cover;
}

.industryCard h2 {
    font-size: 1.25rem;
    line-height: 1.625rem;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 10px;
}

.industryCard .postDetails {
    width: 51%;
}

.industryCard .postDetails h3 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2.063rem;
    padding: 2% 0 4%;
}

.industryCard .postDetails p {
    width: 90%;
    font-size: 1rem;
    line-height: 1.5rem;
}

.industryCard p {
    font-size: 1.25rem;
    font-weight: 300;
    display: inline-block;
    line-height: 1.625rem;
    color: #454545;
}

.industryCard h4 {
    font-size: 1.25rem;
    font-weight: 300;
    color: #434342;
}

.industryCard h4 span {
    font-size: 1.25rem;
    color: #434342;
    font-weight: 600;
    margin-right: 10px;
}


@media screen and (max-width: 1240px){
    .industryCard .container {
        padding: 3%;
       
    }
    .industryCard .banner h1 {
        font-size: 2.5rem;
    }
    .industryCard .banner p {
        font-size: 1rem;
    }

    .industryCard .card h2 {
        font-size: 1.25rem;
    }

}

@media screen and (max-width: 1024px) {
    .industryCard .banner h1 {
        font-size: 2.25rem;
    }
    .industryCard .banner p {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    .industryCard .card h2 {
        font-size: 1rem;
        padding: 0;
    }
    .industryCard .postDetails h3 {
        font-size: 1.25rem;
        line-height: 1.562rem;
        padding: 2% 0 2%;
    }
    .industryCard .postDetails p {
        width: 90%;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .industryCard h4 {
        font-size: 1rem;
    }
    
    .industryCard h4 span {
        font-size: 1rem;
    }


}

@media screen and (max-width: 768px) {
    .industryCard .banner h1 {
        font-size: 1.875rem;
    }

    .industryCard .card h2 {
        font-size: 0.875rem;
        padding: 0;
    }
    .industryCard .postDetails h3 {
        font-size: 1rem;
        line-height: 1.562rem;
        padding: 2% 0 2%;
    }
    .industryCard .postDetails p {
        width: 90%;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .industryCard h4 {
        font-size: 0.875rem;
    }
    
    .industryCard h4 span {
        font-size: 0.875rem;
    }

}

@media screen and (max-width: 620px) {
    .industryCard .banner{
        width: 70%;
    }
    .industryCard .card {
        flex-direction: column;
    }
    .industryCard .titleCard {
        width: 100%;
    }

    .industryCard .postDetails {
        width: 100%;
    }

    
}