.dashboard_overview {
  background: #c5c5c514;
  overflow: hidden;
  padding: 0;
}
.notvisible {
  visibility: hidden;
}
.thismonth {
  font-weight: 300;
  color: #6a6a6a;
  font-size: 0.625rem;
  border: 0.5px solid #a9a9a9;
  border-radius: 4px;
  padding: 0.375rem;
  display: flex;
  gap: 0.3rem;
}
.dropdown {
  color: #6a6a6a;
  font-size: 0.725rem;
  border: 0.5px solid #a9a9a9;
  border-radius: 4px;
  background-color: #fff;
  padding: 2px 0;

  option {
    background-color: #fff;
    color: #252121;
  }
}
.recordings,
.analysis,
.leaderboard {
  display: flex;
  flex-direction: column;
  position: relative;

  background: #ffffff;
  box-shadow: 0px 20px 24px -4px rgba(197, 197, 197, 0.08),
    0px 8px 8px -4px rgba(197, 197, 197, 0.03);
  border-radius: 4px;
  z-index: 0;
}
.recordings_container {
  background: #ffffff;
  box-shadow: 0px 20px 24px -4px rgba(197, 197, 197, 0.08),
    0px 8px 8px -4px rgba(197, 197, 197, 0.03);
  border-radius: 4px;
  padding: 1rem 1rem 2rem;
  margin: 20px auto;
  width: 100%;
  height: 306px;
}
.recordings {
  align-items: center;
  height: 215px;
  margin-top: 3rem;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      display: flex;
      gap: 0.5rem;
      font-weight: 300;
      font-size: 1rem;
    }
  }
}

.subcontent_con {
  display: flex;
  justify-content: center;
}
.analysis {
  width: 100%;
  height: 310px;
  margin: 20px auto;
  padding: 1rem 1rem 1.5rem;

  &__heading {
    display: flex;
    justify-content: space-between;

    h1 {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      font-weight: 300;
      font-size: 1rem;
    }
    h2 {
      font-weight: 300;
      color: #6a6a6a;
      font-size: 0.625rem;
      border: 0.5px solid #a9a9a9;
      border-radius: 4px;
      padding: 0.375rem;
      display: flex;
      gap: 0.3rem;
    }
  }
  .circles {
    position: relative;
    left: -11rem;
    top: -1.5rem;
    font-size: 1.5rem;
    line-height: 40px;
    div {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;

      border: 3.32922px solid #ffffff;
      border-radius: 83.2306px;
    }
    .meduim {
      left: 49px;
      top: 56px;

      width: 99.88px;
      height: 99.86px;
      background: #ffce54;
      color: #313131;
    }
    .small {
      left: 85.62px;
      top: 143.38px;

      width: 66.58px;
      height: 66.58px;
      color: #313131;
      background: #ff7589;
      z-index: 1;
    }
    .big {
      left: 127.24px;
      top: 58.56px;

      width: 166.46px;
      height: 166.44px;
      background: #76c86f;
      color: #313131;
    }
  }

  .scale {
    bottom: 23px;
    position: absolute;
    display: flex;

    gap: 1.5rem;
    h3 {
      font-weight: 400;
      font-size: 0.925rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      span {
        color: transparent;
        width: 10px;
        height: 10px;
        border-radius: 2px;
      }
    }
    .positive {
      background: #76c86f;
    }
    .neutral {
      background: #ffce54;
    }
    .negative {
      background: #ff7589;
    }
  }
}

.leaderboard {
  // align-items: center;
  height: 310px;
  width: 100%;
  margin: 20px auto;
  padding: 1rem 1rem 1.5rem;

  &__heading {
    display: flex;
    justify-content: space-between;
    h1 {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 300;
      font-size: 1rem;
    }
  }
  .agents_mobile {
    display: flex;
    flex-direction: column;
    gap: 2.188rem;
    margin-top: 2.25rem;
    div {
      display: flex;
      gap: 9rem;
      h2 {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 16px;
        color: #6a6a6a;
        img {
          width: 24px;
        }
      }
    }
  }
  .agents_desktop {
    display: none;
  }
}

.recent_recordings {
  width: 100%;
  caption {
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 26px;
    color: #000000;
    text-align: left;
    padding: 1rem 0.4rem;
  }
  thead th {
    font-size: 0.8rem;
    padding: 0.3rem;
    text-align: center;
    color: #000000;
    font-weight: 500;
  }

  tbody tr td {
    border-bottom: 1px solid #c5c5c5;
    padding: 0.8rem 0.3rem;
    font-size: 0.8rem;
    font-weight: 300;
    color: #6a6a6a;
    line-height: 120%;
    text-align: center;
  }
  tbody tr .bold_td {
    font-weight: 700;
  }
  tbody tr td span {
    font-size: 0.9rem;
    line-height: 20px;
    display: block;
    text-align: left;
  }

  tbody tr td:first-child {
    text-align: center;
  }
}

.empty_state_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
  margin-top: 6.25rem;
  margin-bottom: 15.75rem;
}
.empty_state_desktop {
  display: none;
}
.empty_state_header {
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  color: #313131;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}
.empty_state_paragraph {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 20px;
  color: #454545;
  text-align: center;
  margin-bottom: 1.25rem;
}
.empty_state_btn {
  display: flex;
  align-items: center;
  gap: 0.813rem;
  padding: 0.5rem 2rem;
  background: #006cff;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  &:hover {
    background: rgba(33, 104, 204, 0.801);
  }
}

@media screen and (min-width: 48rem) {
  .dashboard_overview {
    background: #c5c5c514;
    overflow: hidden;
    padding: 3rem;
  }
  .recent_recordings {
    caption {
      padding: 1rem 2rem;
    }
  }
  .analysis {
    padding: 1rem 1.5rem 1.5rem;
  }
  .empty_state_mobile {
    display: none;
  }
  .empty_state_desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: 6.25rem;
    margin-bottom: 15.75rem;
  }
  .empty_state_header {
    font-size: 1.5rem;
  }
  .empty_state_paragraph {
    font-size: 1.5rem;
    width: 771px;
  }
}

@media screen and (min-width: 65.625rem) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .recent_recordings {
    caption {
      padding: 1rem 2.8rem;
    }
  }
  .agents_mobile {
    display: none !important;
  }
  .agents_desktop {
    display: block !important;
    margin-top: 1.8rem;
    .agentLCon {
      display: flex;
      justify-content: center;
    }
    .agentL {
      position: relative;

      width: 100px;

      img {
        width: 80px;
      }
      span {
        img {
          width: 21.48px;
          position: absolute;
          left: 28px;
          top: -16px;
        }
      }
      .one {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 33px;
        bottom: -6px;
        background: #004db5;
        border-radius: 94.5578px;
        font-weight: 700;
        font-size: 8px;
        line-height: 12px;
        color: #fff;
      }
    }
    .other_agents {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-top: 2.5rem;
      div {
        display: flex;
        gap: 9rem;
        h2 {
          display: flex;
          align-items: center;
          gap: 0.3rem;
          font-weight: 400;
          font-size: 0.9rem;
          line-height: 16px;
          color: #6a6a6a;
        }
      }
    }
  }
}
