@function pix-rem($value, $suffix: rem) {
  $calculate: calc($value/16);
  @return #{$calculate}#{$suffix};
}

.TranscriptionsList {
  flex: 1 1 auto;
  // width: 720px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: pix-rem(40) pix-rem(40);
  box-shadow: 0 8px 6px -6px rgb(0 0 0 / 0.07);
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.headText {
  display: flex;
  align-items: center;
  column-gap: pix-rem(12);

  svg {
    cursor: pointer;
  }

  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #3f3f3f;
  }

  .headTextLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 150ms ease-in;
  }

  .headTextLink:hover {
    scale: 1.3;
  }
}

.listItem {
  display: flex;
  margin: pix-rem(40) 0 0 0;
  column-gap: pix-rem(64);

  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }

  h4 {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
}

.listItemInActiveP {
  color: #3f3f3f;
}

.listItemInActiveh4 {
  color: #828282;
}

.listItemActive {
  color: #30c5ff;
}

.error {
  flex: 1 1 auto;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.refreshButton {
  background-color: #006affdc;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  margin: 20px 0;
}

.refreshButton:hover {
  background-color: #3480ebdc;
}

@media screen and (max-width: 960px) {
  .TranscriptionsList {
    width: 100%;
    border-radius: 2px;
    padding: pix-rem(28) pix-rem(16);
  }
}
