.dropdown {
  // box-sizing: border-box;
  position: absolute;
  width: 160px;
  height: max-content;
  box-shadow: 2px 2px 8px rgba(64, 64, 64, 0.2);
  background-color: white;
  bottom: 120%;
  left: 0;
  padding: 12px 40px 12px 10px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  // margin-top: 70px;
  z-index: 1;
  .list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    a {
      text-decoration: none;
      color: #6a6a6a;
      // font-size: 1.25rem;
      // font-weight: 400;
      &:hover {
        color: #3f51b5;
      }
    }
  }
  .p {
    color: #6a6a6a;
    text-align: center;
  }
}
