@use  "../../../../functions.scss" as *;

.slide{
        width: 100%;
        max-width: pix-rem(1070);
        overflow-x: hidden;
        overflow-y: hidden;
        

        min-height: pix-rem(310);
        margin-inline: auto;
        .inner{
                white-space: nowrap;
                transition: ease 1s;
                &> * {
                display: inline-block;
        }
        }
        
}