@import "../../../../assets/styles/utilities/functionsANDmedia";

.audio__file {
  font-size: clamp(pix-rem(16), 1vw, pix-rem(32));
  font-weight: 300;

  .audio__icon__container {
    width: clamp(pix-rem(52), 1vw, pix-rem(104));
    height: 100%;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  .audio__text {
    margin-right: auto;
    text-align: left;

    .audio__name {
      color: #313131;
    }

    .audio__size {
      color: #828282;
    }
  }
}
