@mixin display {
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq__wrapper {
  font-family: Poppins;
  // max-width: 1440px;
  flex-direction: column;
}
.faq__hero {
  padding: 5rem 5rem 4rem;
  // width: 100%;
  height: 55vh;
  background: url(../../assets/vector_faq.svg) no-repeat;
  background-size: cover;
  background-position-y: bottom;
  transition: all 1s ease;
  @media (max-width: 1440px) {
    height: 80vh;
    padding: 2rem 2rem;
    transition: all 1s ease;
  }
  @media (max-width: 1440px) {
    height: 70vh;
  }
  @media (max-width: 900px) {
    padding: 3rem 0;
    height: 80vh;
    background-position-x: right;
  }
  @media (max-width: 650px) {
    height: 70vh;
  }
  @media (max-width: 450px) {
    background: url(../../assets/vector-mobile.png) no-repeat;
    background-position-x: right;
    background-size: cover;
    background-position-y: bottom;
    height: 80vh;
    display: flex;
    align-items: center;
  }
}
.faqFlex {
  display: flex;
  justify-content: center;
}
.faqHero__content {
  max-width: 1440px;
  padding: 1vh 6%;
  display: flex;
  justify-content: space-between;
  span {
    color: #00a4ff;
  }
  .h1 {
    width: 40%;
    margin-top: 7vh;
    h1 {
      font-weight: 600;
      font-size: 3.5em;
      line-height: 80px;
    }
  }

  img {
    width: 90%;
  }
  @media screen and (max-width: 1440px) {
    display: flex;
    justify-content: space-between;
    span {
      color: #00a4ff;
    }
    .h1 {
      width: 35%;
      margin-top: 10vh;
      h1 {
        font-weight: 600;
        font-size: 3em;
        line-height: 80px;
      }
    }

    img {
      width: 90%;
    }
  }
  @media screen and (max-width: 1200px) {
    display: flex;
    justify-content: space-between;
    span {
      color: #00a4ff;
    }
    .h1 {
      width: 40%;
      margin-top: 10vh;
      h1 {
        font-weight: 600;
        font-size: 2.5em;
        line-height: 80px;
      }
    }

    img {
      width: 75%;
    }
  }
  @media screen and (max-width: 900px) {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    span {
      color: #00a4ff;
    }
    .h1 {
      width: 40%;
      margin-top: 10vh;
      h1 {
        font-weight: 600;
        font-size: 1.9em;
        line-height: 80px;
      }
    }

    img {
      width: 70%;
      margin-left: 10%;
    }
  }
  @media screen and (max-width: 750px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 10%;
    span {
      color: #00a4ff;
    }
    .h1 {
      width: 90%;
      margin-top: 5vh;
      text-align: center;
      h1 {
        font-weight: 600;
        font-size: 1.9em;
        line-height: 80px;
        text-align: center;
      }
    }

    img {
      width: 80%;
      margin-left: 10%;
    }
  }
  @media screen and (max-width: 750px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 10%;
    span {
      color: #00a4ff;
    }
    .h1 {
      width: 90%;
      margin-top: 5vh;
      text-align: center;
      h1 {
        font-weight: 600;
        font-size: 1.3em;
        line-height: 80px;
        text-align: center;
      }
    }

    img {
      width: 80%;
      margin-left: 10%;
    }
  }
}

.faq__section {
  margin: 4rem 0;
  @include display();

  flex-direction: column;

  @media (max-width: 650px) {
    padding: 0;
  }
}

.faq__title {
  margin-bottom: 10vh;
  h4 {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
  }

  p {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
  }
  @media (max-width: 650px) {
    margin-bottom: 5vh;
    h4 {
      font-size: 1.8rem;
      font-weight: 600;
      text-align: center;
    }

    p {
      font-size: 1.2rem;
      font-weight: 600;
      text-align: center;
    }
  }
}

// h3{
//   font-size: 2rem;
//   text-align: center;
// p{
//   font-size: 1.2rem;
//   font-weight: 400;
//   text-align: center;
// }
// @include display();
//   font-size: 13px;
//   }
// }

.faq__accordion {
  max-width: 900px;
}
