// @use "./_mixins.scss" as mixins;
@import "../../../assets/styles/utilities/_functionsANDmedia.scss";
@import "../../../assets/styles/utilities/_variables.scss";
@import "../../../assets/styles/_reset.scss";



.container {
  height: 100vh;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f9f9f9;
  position: relative;
  transition: all 2s ease-in;

 
  .mainWrapper {
    margin: 0px auto;
    width: 80%;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;

    .header {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      justify-content: space-between;

      h1 {
        color: #434342;
        font-size: 32px;
        font-weight: 600;
      }

      img {
        cursor: pointer;
        width: 15px;
      }
    }

    .idcont {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .agentId {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 40%;
        margin-top: 1rem;
    
        p {
          color: #3F3F3F;
          font-size: 16px;
          font-weight: 300;
        }
      }

      .select {
        display: flex;
        align-items: center;
        gap: 1rem;
    
        p {
          font-weight: 300;
          color: #262626;
        }
    
        .dropdown {
          padding: 4px 10px;
          border: 1px solid #006CFF;
          cursor: pointer;
          font-weight: 300;
          color: #262626;
        }
      }
    }
   
    .topDetailsDiv {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      
      // @include mixins.sm {
      //   flex-direction: column-reverse;
      // }
    }
  }
}

@media screen and (max-width: 944px) {
  .container {
    height: auto;
    .mainWrapper {
      .header, .idcont {
        width: 90%;
        margin: auto;
      }
      .topDetailsDiv {
        flex-direction: column-reverse;
        gap: 2rem;
      }
    }
  }
}


@media screen and (max-width: 888px) {
  .container {
    .mainWrapper {
      .idcont {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        margin-bottom: 1rem;

        .agentId {
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;
          margin-bottom: 0;
          width: 100%;
        }
      }
    }
  }
}
