@use "../../../pages/AgentReport/styles/_mixins.scss" as mixins;
.empty {
  font-weight: 300;
  color: #3f3f3f;
  text-align: center;
  
}
.agentDetails {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  

  .agentId {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    p {
      color: #3F3F3F;
      font-size: 16px;
      font-weight: 300;
    }
  }
  .details {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    .fail {
      color: #F44336;
    }

    .neutral {
      color: #006CFF;
    }

    .success {
      color: #4EC264;
    }
  }
  .firstp {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    color: #3f3f3f;
    @include mixins.sm {
      font-size: 0.9em;
      line-height: 0.9em;
    }
  }
  .secondp {
    font-size: 1.1em;
    color: #3f3f3f;
    line-height: 1.4em;
    @include mixins.sm {
      font-size: 0.85em;
      text-overflow: inherit;
      line-height: 1.2em;
    }
    @include mixins.md {
      font-size: 1rem;
    }
  }
  .callDetails {
    justify-content: space-between;
    display: flex;
    // margin: 20px 0;
    padding: 17px 10px;
    border-radius: 4px;
    background-color: #F2F2F2;
    @include mixins.sm {
      margin: 0px;
    }

    .title {
      width: 50%;
      font-size: 15px;
      font-weight: 300;
      color: #6A6A6A;
    }
    .dash {
      font-weight: 300;
      color: #6A6A6A;
    }
    .total {
      color: #6A6A6A;
      font-weight: bold;
      width: 20%;
    }
    .number {
      font-weight: bold;
      width: 20%;
    
    }
  }
}

@media screen and (max-width: 955px) {
  .agentDetails {
    width: 90%;
    margin: auto;
  }
}
