@use "./_mixins.scss" as mixins;
@import "../../../assets/styles/utilities/_functionsANDmedia.scss";
@import "../../../assets/styles/utilities/_variables.scss";
@import "../../../assets/styles/_reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap");



.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f9f9f9;
  position: relative;
  transition: all 2s ease-in;

 
  .mainWrapper {
    margin: 0px auto;
    width: 80%;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        color: #434342;
        font-size: 32px;
        font-weight: 600;
      }

      img {
        cursor: pointer;
        width: 15px;
      }
    }
   
    .topDetailsDiv {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      justify-content: space-between;
      
    }
  }
}

// .container {
//   height: 100%;
//   width: 100%;
//   background-color: #f9f9f9;
//   padding: 30px;
//   .mainWrapper {
//     max-width: 1160px;
//     height: 90%;
//     background-color: #ececec;
//     padding: 40px;
//     .topDetailsDiv {
//       display: flex;
//       justify-content: space-between;
//       margin-bottom: 20px;
//       height: 40%;
//     }
//   }
// }
