@use "../../../pages/AgentReport/styles/_mixins.scss" as mixins;

.chartContainer {
  width: 100%;
  height: 268px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem;
  // justify-content: space-between;
  @include mixins.sm {
    width: 58%;
    height: 444px;
    background-color: white;
    border-radius: 10px;
  }
  .chartWrap {
    padding: 0.6rem;
    width: 100%;
    // overflow: hidden;
    @include mixins.sm {
      padding: 0.8rem;
    }
    @include mixins.md {
      padding: 1.8rem;
    }
    .chartHeader {
      margin-bottom: 0.5rem;
      & > p {
        font-size: 2rem;
        // display: inline;
      }
      .chartText {
        display: flex;
        justify-content: space-between;
        color: #6a6a6a;
        font-size: 0.9rem;
        align-items: center;
        // margin-bottom: 0.1rem;
        .checkbox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 22%;
          border: 0.5px solid rgb(207, 203, 203);
          border-radius: 10px;
          color: #6a6a6a;
          padding: 0.2rem 0.6rem;
          .textIcon {
            height: 15px;
            width: 15px;
          }
        }
      }
    }
    .chartImg {
      object-fit: contain;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70%;
      width: 100%;
      // overflow: hidden;
      @include mixins.sm {
        height: 90%;
        width: 95%;
        overflow: hidden;
      }
      @include mixins.md {
        width: 100%;
        height: 100%;
      }
      .chartImg > img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

// .chartContainer {
//   width: 60%;
//   height: 444px;
//   background-color: red;
//   border-radius: 10px;
// }
