@use "../../../pages/AgentReport/styles/_mixins.scss" as mixins;

.chartContainer {
  // width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 55%;

  .select {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;

    p {
      font-weight: 300;
      color: #262626;
    }

    .dropdown {
      padding: 4px 10px;
      border: 1px solid #006CFF;
      cursor: pointer;
      font-weight: 300;
      color: #262626;
    }
  }

  .chartWrap {
    // padding: 0.6rem;
    width: 100%;

    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // overflow: hidden;
    // @include mixins.sm {
    //   padding: 0.8rem;
    // }

    // @include mixins.md {
    //   padding: 1.8rem;
    // }

    .chartHeader {
      margin-bottom: 20px;

      .chartText {
        display: flex;
        gap: 1rem;
        color: #262626;
        align-items: center;

        .calltxt {
          font-size: 30px;
          font-weight: 600;
          color: #262626;
        }

        .callText {
          font-size: 16px;
          display: flex;
          align-items: center;
          gap: 1rem;
          .callIcon {
            height: 1.5rem;
            width: 1.5rem;
          }
         
        }

        // margin-bottom: 0.1rem;
        .checkbox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          border: 0.5px solid rgb(207, 203, 203);
          border-radius: 10px;
          color: #6a6a6a;
          padding: 0.3rem 1rem;
          font-size: 1rem;

          .textIcon {
            height: 15px;
            width: 15px;
            margin-left: 0.5rem;
          }
        }
      }
    }

    .chartImg {
      object-fit: cover;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      height: 100%;
      width: 100%;
      min-width: 60%;
      padding-bottom: 0.2rem;

      @include mixins.sm {
        height: 90%;
        min-height: 90%;
        min-width: 90%;
        width: 95%;
        overflow: hidden;
      }

      @include mixins.md {
        width: 95%;
        height: 100%;
      }

      .chartImg>img {
        width: 100%;
        min-height: 100%;
      }

      .empty {
        text-align: center;
        font-weight: 300;
      }
    }
  }
}

@media screen and (max-width: 944px) {
  .chartContainer {
    width: 90%;
    margin: auto;
    .chartWrap {
      .chartImg  {
        width: 100%;
        height: 200px;
      }
    }
  }
}

// .chartContainer {
//   width: 60%;
//   height: 444px;
//   background-color: red;
//   border-radius: 10px;
// }