@import "../../../../functions.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: pix-rem(24);

  .title {
    font-size: pix-rem(24);
    font-weight: 600;
  }

  .change__picture {
    width: 100%;

    .picture__container {
      position: relative;
      width: max-content;
      .profile__img {
        width: pix-rem(120);
        height: pix-rem(120);
        border-radius: 50%;
        border: 1px solid #002437;
        overflow: hidden;
      }
      .changer {
        background-color: #e6f0ff;
        padding-right: pix-rem(20);
        position: absolute;
        top: calc(100% - pix-rem(40));
        left: calc(100% - pix-rem(40));
        display: flex;
        width: max-content;
        align-items: center;
        gap: 0.2em;
        border-radius: pix-rem(20);
        color: #002d6b;
        cursor: pointer;

        .pencil__container {
          width: pix-rem(40);
          height: pix-rem(40);
          border-radius: 50%;
          overflow: hidden;
          background-color: #006cff;
          display: grid;
          place-items: center;

          img {
            object-fit: contain;
            width: 50%;
            height: 50%;
          }
        }
      }
    }
  }

  .personal__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: pix-rem(24);

    label {
      position: relative;
      font-size: pix-rem(12);
      color: #6a6a6a;

      @include media(1024px) {
        display: flex;
        flex-direction: column;

        input {
          width: 100%;
        }
      }

      input {
        padding: pix-rem(16);
        font-size: pix-rem(16);
        font-weight: 300;

        &::placeholder,
        &::-webkit-input-placeholder {
          color: #a9a9a9;
          font-size: pix-rem(30);
        }

        &:disabled {
          background-color: white;
        }
      }

      .input__info {
        display: flex;
        position: absolute;
        right: 2em;
        top: 50%;
        gap: 1em;
        align-items: center;

        .email__unverified {
          padding: pix-rem(2) pix-rem(10);
          font-weight: 600;
          background-color: #feeceb;
          color: #de3d31;
          border-radius: pix-rem(4);
        }

        .unlock__edit {
          display: flex;
          gap: 1em;
          font-size: pix-rem(11);
          color: #3f3f3f;
          cursor: pointer;

          img {
            filter: invert(1);
          }
        }
        [hidden] {
          display: none;
        }
      }
    }

    .personal__user__name {
      display: flex;
      width: 100%;
      gap: pix-rem(24);
      flex-wrap: wrap;

      label {
        flex: 1 0.4 300px;
      }
    }

    .submission {
      width: 100%;
      display: flex;
      gap: pix-rem(24);

      button {
        padding: pix-rem(16) pix-rem(32);
        border-radius: pix-rem(4);
        cursor: pointer;
        transition: scale 0.3s;

        &:hover {
          scale: 1.05;
        }

        &:nth-child(1) {
          background-color: #006cff;
          color: white;
          border: none;
        }

        &:nth-child(2) {
          background-color: white;
          color: #006cff;
          border: 1px solid #006cff;
        }
      }
    }
  }
}
