@mixin btn {
    font-family: 'Kanit', sans-serif;
    background: #006CFF;
    padding: 15px 20px;
    color: #fff;
    border: 0;
    border-radius: 3px;
    display: block !important;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    width: 180px;
    font-size: 18px;
    transition: all 0.3s ease;
    position: relative;
    border: 1px solid transparent;
}

@mixin btnStates {
    &:hover {
        background: transparent;
        border-color: #006CFF;
        color: #006CFF;
    }

    &:active {
        top: 3px;
    }
}

@mixin btnTrans {
    font-family: 'Kanit', sans-serif;
    display: block !important;
    padding: 15px 20px;
    background: transparent;
    color: #006CFF;
    border: 1px solid #006CFF;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    width: 180px;
    font-size: 18px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
    transition: all 0.3s ease;
}

@mixin btnTransStates {
    &:hover {
        background: #006CFF;
        border-color: #fff;
        color: #fff;
    }

    &:active {
        top: 2px;
    }
}

@mixin containers {
    width: 90%;
    margin: auto;
    padding: 0;
}

@mixin heading {
    color: #1A1818;
    font-weight: 600;
    font-size: 40px !important;
    margin-bottom: 20px;
}


.heroSection {
    background: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Kanit', sans-serif;

    .containers {
        @include containers;
        padding: 4rem 0 7rem 0;
    }

    .heroFlex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .textCont {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 50%;
        h1 {
            color: #1A1818;
            font-weight: 700;
            font-size: clamp(40px, 55px, 67px) !important;
            margin-bottom: 30px;
        }
    
        p {
            color: #1A1818;
            font-weight: 500;
            font-size: clamp(22px, 30px, 37px) !important;
            line-height: 1.7;
            margin-bottom: 30px;
        }
    
        button {
            @include btn;

            &:hover {
                @include btnStates();
            }
        }
    }

    .imgCont {
        width: 50%;

        img {
            width: 100%;
        }
    }
}

.offerSection {
    padding: 10rem 0;
    .containers {
        @include containers;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    h1 {
        @include heading;
        text-align: center;
    }

    p {
        color: #1A1818;
        font-size: 35px !important;
        text-align: center;
        width: 70%;
        line-height: 1.6;
        margin: auto;
    }

    button {
        @include btn;
        text-align: center;
        margin: 30px auto 0 auto;

        &:hover {
            @include btnStates();
        }
    }
}

.wecanSection {
    background: #E6F0FF;
    padding: 7rem 0;

    .containers {
        @include containers;

        .wecanFlex {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
        .wecanTxt {
            width: 55%;
    
            h1 {
                @include heading;
            }
    
            li {
                font-size: 30px !important;
                line-height: 1.6;
                font-weight: 300;
            }
    
            .list {
                margin-bottom: 35px;
            }
        }
    
        .wecanImg {
            width: 40%;
            margin: auto;

            .weImg {
                width: 70%
            }
        }
    }
}

.transcriptionSection, .sentimentSection, .reportSection {
    .containers {
        @include containers;

        .transFlex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8rem 0;
    
            .transTxt {
                width: 50%;
                h1 {
                    @include heading;
                }
    
                .checkContainers {
                    span {
                        display: flex;
                        align-items: baseline;
                        gap: 2rem;
                        margin: 40px 0;
    
                        img {
                            width: 20px;
                        }
    
                        p {
                            font-size: 27px !important;
                            font-weight: 400;
                            line-height: 1.7
                        }
                    }
                }
    
                button {
                    @include btnTrans;

                    &:hover {
                        @include btnStates();
                    }
                }
            }

            .trasImg {
                width: 45%;

                img {
                    width: 100%;
                }
            }
        }
        .line {
            border-bottom: 1px solid #868686;
            width: 100%;
        }
    }
}

.sentimentSection {
    .transFlex {
        flex-direction: row-reverse;
    }
}

.articleSection {
    padding: 6rem 0 20rem 0;
    
    .containers {
        @include containers;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2.5rem;

        p {
            color: #1A1818;
            font-weight: 300;
            font-size: 25px !important;
            text-align: center;
            width: 70%;
            line-height: 1.9;
            margin: auto;
        }

        button {
            @include btn;

            &:hover {
                @include btnStates();
            }
        }
    }
}

@media (max-width: 970px) {
    .heroSection {
        .heroFlex {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5rem;

            .textCont, .imgCont {
                width: 100%;
                text-align: center;
            }

            .textCont {
                align-items: center;
                p {
                    font-size: 3.5vw !important;
                }
            }
        }

        
    }

    .offerSection {
        p {
            width: 90%;
            font-size: 4.5vw !important;
        }

        h1 {
            font-size: 5vw !important;
        }
    }

    .wecanSection {
        .wecanFlex {
            flex-direction: column;
            gap: 4rem;

            .wecanImg, .wecanTxt {
                width: 100%;
            }

            .wecanImg {
                .weImg {
                    width: 55%;
                    display: block;
                    margin: auto;
                }
            }

            .wecanTxt {
                h1 {
                    text-align: center;
                    font-size: 6vw !important;
                }

                li {
                    font-size: 20px !important;
                    text-align: center;
                }
            }
        }
    }

    .transcriptionSection, .sentimentSection, .reportSection {
        .containers {
            .transFlex {
                flex-direction: column-reverse;
                gap: 5rem;
    
                .transTxt, .trasImg {
                    width: 100%;
                }

                .transTxt {
                    h1 {
                        text-align: center;
                    }
                    .checkContainers {
                        span {
                            justify-content: center;
                            gap: 1rem;

                            p {
                                text-align: center;
                            }
                        }
                    }

                    button {
                        margin: auto;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .heroSection {
        .containers {
            .heroFlex {
                .textCont {
                    p {
                        font-size: 22px !important;
                    }
                }
            }
        }
    }

    .transcriptionSection, .sentimentSection, .reportSection {
        .containers {
            .transFlex {
                .transTxt {
                    h1 {
                        font-size: 5vw !important;
                        text-align: center;
                    }
                    .checkContainers {
                        span {
                            p {
                                font-size: 15px !important;
                            }

                            img {
                                width: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

    .wecanTxt {
        li {
            font-size: 15px !important;
        }
    }

    .articleSection {
        .containers {
            p {
                width: 90%;
                font-size: 17px !important;
            }
        }
    }
}