@import "../../../../functions.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: pix-rem(24);
  height: max-content;
  margin-bottom: 3rem;
  .title {
    font-size: pix-rem(24);
    font-weight: 600;
    color: #3f3f3f;
  }

  .subtitle {
    font-size: pix-rem(20);
    font-weight: 600;
    color: #3f3f3f;
  }

  .email__card {
    background-color: #0062e8;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: pix-rem(16);
    gap: pix-rem(8);
    padding: pix-rem(24);
    border-radius: pix-rem(4);

    .email__card__email {
      font-size: pix-rem(24);
      font-weight: 600;
    }
  }

  .custom__settings {
    height: 100%;

    .setting {
      padding: pix-rem(24);
      border: 1px solid #f2f2f2;
      border-radius: pix-rem(4);
      display: flex;
      align-items: center;
      margin-bottom: pix-rem(4);

      .setting__info {
        margin-right: auto;

        .setting__name {
          color: #3f3f3f;
          font-size: pix-rem(16);
          font-weight: 600;
        }

        .setting__description {
          font-size: pix-rem(14);
        }
      }

      .toggle {
        background-color: white;
        width: 4em;
        min-width: 4em;
        height: 2em;
        border: 2px solid #006cff;
        border-radius: 1em;
        position: relative;
        padding: 0.1em;

        input[type="checkbox"] {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          cursor: pointer;
          z-index: 1;

          &:checked ~ .circle {
            transform: translateX(calc(100% + 0.3em)) translateY(-50%);
          }
        }

        .circle {
          height: 90%;
          aspect-ratio: 1/1;
          background-color: #006cff;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 0.1em;
          transform: translateY(-50%);
          transition: transform 0.2s;
        }
      }
    }
  }

  .submission {
    width: 100%;
    display: flex;
    gap: pix-rem(24);

    button {
      padding: pix-rem(16) pix-rem(32);
      border-radius: pix-rem(4);
      cursor: pointer;
      transition: scale 0.3s;

      &:hover {
        scale: 1.05;
      }

      &:nth-child(1) {
        background-color: #006cff;
        color: white;
        border: none;
      }
    }
  }
}
