@use "../../../functions.scss"as *;

.HowItWorks{
    background: #E6F0FF;
    padding: 4rem;
    display: flex;
    justify-content: space-around;
    @include media(800px) {
        flex-direction: column;
    }
    @include media(550px) {
        padding: 2rem;
    }
    .HowItWorksImage{
        width: 50%;
        @include media(800px) {
            width: 100%;
        }
        >h3{
            font-family: 'Kanit';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 56px;
            color: #313131;
            @include media(550px) {
                text-align: center;
             }
             @include media(408px) {
                font-size: 36px;
             }
            @include media(350px) {
                font-size: 26px;
                gap: 0rem;
             }
        }
    }
    .HowItWorksText{
        width: 50%;
        @include media(800px) {
            width: 100%;
        }
        .bullets{
            display: flex;
            gap: 3rem;
            font-family: 'Kanit';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: #313131;
            margin: 4rem 0rem 1rem;
            @include media(550px) {
                gap: 1rem;
              }
        }
        .bulletsBody{
            display: flex;
            gap: 5rem;
            @include media(550px) {
                gap:3rem;
            }
            .bulletsContentLine{
                border-right: 3px solid #A9A9A9;
                height: 100px;
                margin-left: 0.5rem;
            }
            .bulletsContentLine1{
                border-right: 3px solid #A9A9A9;
                height: 200px;
                margin-left: 0.5rem;
            }
            .bulletscontent{
                font-family: 'Kanit';
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 30px;
                color: #3F3F3F;
                width: 65%;
            }
            @include media(550px) {
               width: 100%;
            }
        }
    }
}