@import "../../../../assets/styles/utilities/functionsANDmedia";

.sentiment__chart {
  margin-left: auto;
  margin-right: auto;
  width: pix-rem(200);
  height: pix-rem(200);
  position: relative;

  img {
    object-fit: contain;
    width: 100%;
  }

  .highest__value {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: pix-rem(32);
    transform: translate(-50%, -50%);
    line-height: 0.85em;

    .sign {
      font-size: pix-rem(20);
      color: #6a6a6a;
      text-align: center;
    }
  }
}

.sentiment__chart__legend {
  margin: pix-rem(6) 0;

  .chart__legend__item {
    font-weight: 300;
    font-size: pix-rem(18);
    color: #535353;
    display: flex;
    align-items: center;
    gap: pix-rem(8);

    .item__icon {
      width: pix-rem(12);
      height: pix-rem(12);
      border-radius: 50%;
    }

    .positive {
      background-color: #76c86f;
    }

    .neutral {
      background-color: #ffce54;
    }

    .negative {
      background-color: #ff7589;
    }
  }
}
