.agentStyle::-webkit-scrollbar {
  display: none;
}

.agentStyle.active {
  display: flex;
}

.agentStyle {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100vh;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  backdrop-filter: blur(4px) saturate(200%);
  background-color: hsla(0, 0%, 77%, 0.66);
  border: 1px solid rgba(255, 255, 255, 0.125);

  .agent {
    width: 60%;
    background: #fff;
    filter: drop-shadow(2px 2px 8px rgba(255, 255, 255, 0.125));
    margin: auto;
    border-radius: 20px;
  }
}

.right_section {
  position: relative;
}

.right_section h2 {
  color: #434342;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.right_section p {
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 20px;
}

.long_paragraph {
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  margin-right: 12rem;
}

.right_section h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #686868;
}

.empty_state {
  text-align: center;
  padding-top: 2rem;
  font-size: 18px;
  color: #6a6a6a;
}

.empty_state h3 {
  padding-top: 1rem;
}

.empty_state img {
  margin-left: auto;
  margin-right: auto;
}

/* End of styling new design for Leaderbord */
.content_container::-webkit-scrollbar {
  display: none;
}

.content_container {
  scroll-behavior: smooth;
  background-color: #FAFAFA;
  width: 100%;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
}

.right_section {
  padding: 2rem;
}

select {
  outline: none;
  border-radius: 5px;
  background-color: none;
  font-size: 16px;
  color: #6a6a6a;
  font-weight: 300;
  padding: 0.2rem 0.5rem;
  border: 1px solid #006cff;
}

.right_content2_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.calender_content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

#sort_by {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0;
}

.general_profile {
  padding: 3rem 0 5rem 0;
}

.Profile_container {
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Profile1 {
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  filter: drop-shadow(2px 2px 10px rgba(197, 197, 197, 0.179));
  max-width: 290px;
}

.Profile1:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  filter: drop-shadow(1px 1px 8px #bdbbbb59);
  transition: all 0.3s ease-out;
}

.Profile2 {
  text-align: center;
  margin-top: 3rem;
  background-color: #edf9f0;
}

.UppercaseName {
  text-transform: uppercase;
  margin-top: -1rem;
}

.Profile3 {
  text-align: center;
  margin-top: 3rem;
  background-color: #fffdeb;
}

.Profile_content {
  padding: 2rem;
  width: 100%;
}

.Like_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.Like_icon_content {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.Like_content1 {
  gap: 2rem;
}

.Like_text {
  font-size: 10px;
}

.Profile_content h2 {
  font-size: 17px;
  font-weight: 500;
  margin: 10px 0;
}

.Profile_img img {
  margin: 0 auto 1rem auto;
  display: block;
}

.Profile_content h1 {
  font-size: 48px;
  font-weight: 600;
  color: #006cff;
}

.Profile_content p {
  text-align: center;
  font-size: 14px;
  color: #6A6A6A;
}

.small_text {
  font-size: 14px;
  color: #6a6a6a;
  font-weight: 600;
}

.Agent_position {
  font-size: 20px;
  font-weight: 300;
  color: #454545;
}

.right_section_top {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  padding-bottom: 0.5rem;
  justify-content: space-between;
}

/* Tabular Styling */

.Hide_for_desktop {
  display: none;
}
.Tabular_Container {
  padding: 2.5rem 2rem;
  width: 90%;
  margin: 0 auto 20px auto;
  border-radius: 15px;
  filter: drop-shadow(2px 2px 10px rgba(197, 197, 197, 0.116));
}

.Tabular_Content_Container {
  background-color: #ffffff;
  padding: 1.5rem;
}

.Header_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Header_title p {
  font-size: 14px;
  font-weight: 400;
}

hr {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.Header_content {
  justify-content: space-around;
  display: grid;
  grid-template-columns: 8fr 6fr 5fr 0fr;
  margin-bottom: 1rem;
}

.Header_content:hover {
  transform: scale(1.008);
  transition: all 0.3s ease-out;
}

.Header_content p {
  font-size: 16px;
  font-weight: 300;
}

.Agent_ID {
  font-size: 16px;
  font-weight: 300;
  color: hsl(215, 100%, 50%);
  cursor: pointer;
}

.Agent_ID:hover {
  color: hsl(215, 97%, 31%);
}

.Header_profile_container {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

/* Media query*/
@media screen and (min-width: 950px) and (max-width: 1180px) {
  .left_section {
    display: none;
  }

  .Tabular_Container {
    padding: 0rem 0rem;
  }

  .content_container {
    display: grid;
    grid-template-columns: 2.5fr;
  }
}

@media screen and (min-width: 401px) and (max-width: 949px) {
  .left_section {
    display: none;
  }

  .Tabular_Container {
    padding: 0rem 0rem;
  }

  .content_container {
    display: grid;
    grid-template-columns: 2.5fr;
  }

  .Profile_container {
    max-width: 300px;
  }

  .Page_num_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

}

/* For Topbar only  */
@media screen and (min-width: 461px) and (max-width: 650px) {
  .Upload_profile_container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }

  .Tabular_Container {
    padding: 0rem 0rem;
  }

  .long_paragraph {
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    margin-right: 0rem;
  }

  #sort_by {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: rem;
  }
}

@media screen and (min-width: 401px) and (max-width: 460px) {
  .Upload_profile_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .Tabular_Container {
    padding: 0rem 0rem;
  }

  .Hide_for_mobile {
    display: none;
  }

  .Hide_for_desktop {
    display: block;
  }

  .Header_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .Header_content p {
    font-size: 14px;
    font-weight: 300;
  }

  .Header_title p {
    font-size: 16px;
    font-weight: 400;
  }

  input {
    width: 80%;
  }

  #hide_for_mobile {
    display: none;
  }

  .long_paragraph {
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    margin-right: 0rem;
  }

  .right_content2_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
  }
}

@media screen and (min-width: 350px) and (max-width: 400px) {
  .left_section {
    display: none;
  }

  .Hide_for_mobile {
    display: none;
  }

  .Hide_for_desktop {
    display: block;
  }

  .Header_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .Header_content p {
    font-size: 14px;
    font-weight: 300;
  }

  .Header_title p {
    font-size: 16px;
    font-weight: 400;
  }

  .Profile_container {
    padding: 25px;
    display: grid;
    grid-template-columns: 2fr;
    gap: 1.5rem;
  }

  .Tabular_Container {
    padding: 0rem 0rem;
  }

  .Hide_for_mobile {
    display: none;
  }
  .right_section {
    margin-left: 0;
    margin-right: 0;
  }

  input {
    width: 80%;
  }
  .right_content2_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
  }

  .long_paragraph {
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    margin-right: 0rem;
  }
}

@media (max-width: 944px) {
  .agentStyle {
    overflow: scroll !important;
  }
}

@media (max-width: 900px) {
  .agentStyle {
    .agent {
      width: 90%;
    }
  }
}
