.OverlayEmail_wrapper {
  position: relative;

  .overlay {
    backdrop-filter: blur(33px);
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .overlayContent {
      position: relative;
      height: fit-content;
      background-color: #fefefd;
      width: 90%;
      border-radius: 8px;
      padding: 1.5rem;
      -webkit-backdrop-filter: blur(33px);
      backdrop-filter: blur(33px);

      .overlayHeader {
        display: flex;
        flex-direction: column;
      }

      h2 {
        line-height: 32px !important;
        color: #3f3f3f !important;
        font-weight: 700 !important;
        padding: 0 !important;
      }

      p {
        color: #3f3f3f !important;
        font-size: 0.875rem !important;

        strong {
          color: #3f3f3f !important;
          font-size: 0.875rem !important;
        }
      }
    }
  }

  .OverlayEmail_form {
    .inputGroup {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      margin-block: 0.75rem;

      label {
        margin-top: 0.75rem;
        font-size: 0.75rem;
      }
    }
    input {
      width: 100%;
      padding: 1rem;
      border: 1px solid #c5c5c5;
      border-radius: 4px;
      font-family: "Kanit", sans-serif;

      &:focus {
        outline: none;
        border: 1px solid #006cff;
      }
    }

    .caution {
      color: #3f3f3f;
      font-size: 0.75rem !important;
      line-height: 16px !important;
    }

    button {
      display: block;
      width: 100%;
      background: #006cff;
      border-radius: 4px;
      padding: 0.75rem 2rem;
      color: #fefefd;
      font-weight: 500 !important;
      border: none;
      font-size: 0.875rem !important;
      font-family: "Kanit", sans-serif;
      margin-top: 2rem;
      cursor: pointer;
    }

    .redirect {
      cursor: pointer;
      margin-top: 1rem;
      text-decoration: none;
      color: #3f3f3f !important;
      font-weight: 500 !important;
      font-size: 0.875rem !important;
      width: 100%;
      text-align: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .OverlayEmail_wrapper {
    .overlay {
      .overlayContent {
        width: 80%;

        p {
          font-size: 1rem !important;

          strong {
            font-size: 1rem !important;
          }
        }

        h2 {
          font-size: 2rem !important;
        }
      }
    }

    .OverlayEmail_form {
      button,
      .redirect {
        width: auto;
        font-size: 1rem;
      }
      .OverlayEmail_submit {
        display: flex;
        align-items: baseline;
        gap: 2rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  .OverlayEmail_wrapper {
    .overlay {
      .overlayContent {
        width: 65%;
      }
    }
  }
}
