@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



.howitworks .container {
    max-width: 76rem;
    margin: 0 auto;
}

.howitworks .steps {
    margin: 14% auto 8%;
}

.howitworks h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.5rem;
    color: #313131;
}

.howitworks h1 span {
    font-size: 3rem;
    color: #0062E8;
}

.howitworks p {
    font-size: 1.25rem;
    font-weight: 300;
    display: inline-block;
    line-height: 26px;
}

.howitworks .banner {
    width: 50%;
    margin: 0 auto;
    padding-top: 6%;
    text-align: center;
}

.howitworks .card {
    width: 64.4%;
    display: flex;
    padding: 8% 0;
    gap: 10%;
    position: relative;
    margin-top: 6%;
}

.howitworks .card span {
    position: absolute;
    font-size: 41.875rem;
    font-weight: 800;
    top: -70%;
    left: 0;
    -webkit-text-stroke: 1px #B0D1FF;
	-webkit-text-fill-color: transparent;
    z-index: -10;
}
.howitworks .cardInfo {
    width: 48%;
}

.howitworks .cardImage {
    width: 40%;
    display: flex;
    align-items: center;
}

.howitworks .cardImage img {
    max-width: 100%;
}


.howitworks .left {
    margin-right: auto;
}
.howitworks .right {
    margin-left: auto;
}

.howitworks h3 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.063rem;
    color: #434342;
}

.howitworks .steps p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 2%;
}

.howitworks .links {
    width: 30%;
    margin: 6% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6%;
}

.howitworks .linkBtn {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.625rem;
    text-decoration: none;
    padding: 0.75rem 2rem;
    border-radius: 4px;
    border: 1px solid #006aff;
}
.howitworks .white {
    color: #006aff;
}

.howitworks .blue {
    color: #fff;
    background-color: #006aff;
}


.howitworks ul {
    padding-left: 1.875rem;
}

.howitworks ul li {
    font-size: 1rem;
    font-weight: 300;
    
}



@media screen and (max-width: 1240px){
    .howitworks .container {
        padding: 3%;
       
    }
    .howitworks .banner h1 {
        font-size: 2.5rem;
    }
    .howitworks .banner h1 span{
        font-size: 2.5rem;
    }
    .howitworks .banner p {
        font-size: 1rem;
    }

    .howitworks .linkBtn {
        font-size: 0.875rem;
    }


}

@media screen and (max-width: 1024px) {
    .howitworks .banner h1 {
        font-size: 2.25rem;
    }
    .howitworks .banner h1 span{
        font-size: 2.25rem;
    }
    .howitworks .banner p {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .howitworks .card span {
        font-size: 35rem;
        top: -55%;

    }

    .howitworks h3 {
        font-size: 1.5rem;
    }

    .howitworks .links {
        width: 60%;
    }
    .howitworks .cardImage .makeLarge {
        transform: scale(1.4);
    }

}

@media screen and (max-width: 900px) {
    .howitworks .card {
        width: 100%;
    
    }
    .howitworks .card span {
        font-size: 28rem;
    }
}

@media screen and (max-width: 768px) {
    .howitworks h3 {
        font-size: 1.25rem;
    }

    .howitworks .steps p {
        font-size: 0.875rem;
        line-height: 1.5rem;
    }

    .howitworks ul li {
        font-size: 0.875rem;
        
    }
}

@media screen and (max-width: 620px) {
    .howitworks .banner {
        width: 80%;
    }
    .howitworks .banner h1 {
        font-size: 1.875rem;
        line-height: 2rem;
        padding-bottom: 1rem;
    }
    .howitworks .banner h1 span{
        font-size: 1.875rem;
    }

    .howitworks .steps p {
        padding-top: 0;
    }
    .howitworks .card span {
        all: unset;
        display: block;
        position: absolute;
        top: -5%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 6.25rem;
        -webkit-text-stroke: 1px #B0D1FF;
        -webkit-text-fill-color: transparent;
   
        width: 1.875rem;
        z-index: -1;
    }
    .howitworks .card {
        flex-direction: column;
        margin: 6% 0;

  
    }

    .howitworks .cardImage,.howitworks .cardInfo {
        width: 80%;
        margin: 3% auto;
    }

    .howitworks .cardInfo {
        padding-bottom: 5%;
 
    }

    .howitworks .cardImage {
        width: 100%;
        height: 180px;
        margin: 0 auto;
        background-color: #E6F0FF;
        border-radius: 0.5rem;
    }

    .howitworks .cardImage img {
        max-width: 50%;
        margin: 0 auto;
    }

    .howitworks .linkBtn {
        padding: 0.5rem 1rem;
    }

   
}
