@use "../../../../functions.scss" as *;

.month .plans {
  display: flex;
  gap: 23px;
  max-width: 100%;
  width: min(100%, 75.25rem);
  margin-inline: auto;
  @include media(1220px) {
    width: pix-rem(390);
    flex-direction: column;
    justify-content: center;
  }

  @include media(420px) {
    width: 95%;
    margin-inline: auto;
  }
}

.plansCard {
  flex: 1;
  background-color: #e6f0ff;
  color: #3f3f3f;
  padding: 2rem;
  border-radius: 1.5rem;
  border: 0.89px solid #002f49;
}
.plansCard a {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
  background-color: #006cff;
  border-radius: 4px;
}
.plansCard a:hover {
   background-color: #549DFF;
}


.FtnBtn {
  height: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plansCard.enterprise {
  background-color: #002f49;
  color: #fff;
}
.plansCard.enterprise p {
  color: #fff;
}

.plansCardIcon {
  width: 26px;
}
.plansCard p {
  color: #454545;
  font-size: 1rem;
  @include media(420px) {
    font-size: pix-rem(14);
  }
}

.plansCardTitle,
.plansPricingFigure,
.pricingFeaturesItem {
  display: flex;
  align-items: center;
}
.plansPricingCurrency {
  width: 3.125rem;
}
.pricingFeaturesItem img,
.plansCardIcon {
  padding-right: 11px;
}
.plansPricingFigure h4 {
  font-size: 4.5rem;
  font-weight: 600;
}
