@import "../../functions.scss";

.page__container {
  width: 100%;

  .inner__page__container {
    padding: 1rem;
    display: flex;
    gap: pix-rem(80);

    @include media(1350px) {
      gap: pix-rem(20);
    }

    .subpage__selector__container {
      display: flex;
      flex-direction: column;
      flex: 1 0 300px;

      .title {
        font-size: pix-rem(32);
        font-weight: 600;
        color: #3f3f3f;
        margin-bottom: pix-rem(24);
      }
    }
    .subpage__container {
      flex: 1 1 500px;

      @include media(768px) {
        display: none;
      }

      .plan {
        font-size: pix-rem(14);
        font-weight: 300;
        padding: pix-rem(12) pix-rem(24);
        width: 100%;
        text-align: center;
        border-radius: pix-rem(64);
        background-color: #fffdeb;
        margin-bottom: pix-rem(20);

        * {
          display: inline;
        }

        .advertise__plan {
          font-weight: 600;
          color: #006cff;
        }
      }
    }
  }

  .delete__button {
    padding: pix-rem(16) pix-rem(32);
    background-color: #de3d31;
    color: white;
    font-size: pix-rem(16);
    font-weight: 500;
    border: none;
    border-radius: pix-rem(4);
    margin-left: 1rem;
    cursor: pointer;
  }
}
