@import "../../functions.scss";

.page__container {
  width: 100%;
  padding-bottom: 10rem;
  position: relative;

  .inner__page__container {
    padding: 1rem;
    display: flex;
    gap: pix-rem(80);

    .delete__container {
      width: 100%;
      padding: 0;
      margin-top: pix-rem(24);

      .delete__button {
        padding: pix-rem(16) pix-rem(32);
        background-color: #de3d31;
        color: white;
        font-size: pix-rem(16);
        font-weight: 500;
        border: none;
        border-radius: pix-rem(4);
        transition: scale 0.3s;
        cursor: pointer;

        &:hover {
          scale: 1.02;
        }
      }
    }

    @include media(1350px) {
      gap: pix-rem(20);
    }

    .subpage__selector__container {
      display: flex;
      flex-direction: column;
      flex: 1 0 300px;

      .title {
        font-size: pix-rem(32);
        font-weight: 600;
        color: #3f3f3f;
        margin-bottom: pix-rem(24);
      }
    }
    .subpage__container {
      flex: 1 1 500px;
      transition: all 0.3s;

      @include media(768px) {
        padding: 1rem;
        overflow-y: scroll;
        background-color: white;
        position: fixed;
        right: 0;
        transform: translateX(100%);
        width: 100%;
        height: 100%;
        top: 0;
      }

      .mobile__back__button {
        display: flex;
        align-items: center;
        color: #3f3f3f;
        font-size: pix-rem(30);
        margin-bottom: 1rem;

        @media screen and (min-width: 768px) {
          display: none;
        }

        .button__icon__container {
          width: pix-rem(50);
          height: pix-rem(50);
          background-color: #e6f0ff;
          display: grid;
          place-items: center;
          border-radius: pix-rem(8);
          cursor: pointer;
        }

        .settings__title {
          width: 100%;
          text-align: center;
        }
      }

      .plan {
        font-size: pix-rem(14);
        font-weight: 300;
        padding: pix-rem(12) pix-rem(24);
        width: 100%;
        text-align: center;
        border-radius: pix-rem(64);
        background-color: #fffdeb;
        margin-bottom: pix-rem(20);

        * {
          display: inline;
        }

        .advertise__plan {
          font-weight: 600;
          color: #006cff;
        }
      }
    }

    .visibleSubPage {
      transform: translateX(0);
    }
  }
}
