@use "../../../functions.scss"as *;

.icon_size{
   width: 18%;
}

.HelpContainer{
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    margin: 3rem;
    padding-inline: 4rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    @include media(975px) {
        flex-direction: column;
     }
     @include media(550px) {
        margin: 2rem;
        padding-inline: 2rem;

     }
     @include media(330px) {
        margin: 1rem;
        padding-inline: 2rem;
     }

    .HelpHeadingWithBox{
        width: 50%;
        gap: 4rem;
        display: flex;
        flex-direction: column;
        @include media(975px) {
            gap: 2rem;
            width: 100%;
         }
    }
        .HelpSectionHeading{
            font-family: 'Kanit';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 60px;
            color: #313131;
            width: 90%;
            margin-bottom: 2rem;
            @include media(975px) {
               font-size: 40px;
            }
            @include media(850px) {
                text-align: center;
             }
             @include media(550px) {
                font-size: 30px;
                line-height: 32px;
             }
             @include media(350px) {
               font-size: 24px;
            }

        }
        .HelpBox{
            background: #EDF9F0;
            border-radius: 32px;
            padding: 3rem;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            @include media(975px) {
                padding: 2rem;
             }
             @include media(550px) {
                width: 100%;
                padding: 1rem;
             }
            
        }
        .HelpIconWithText{
            display: flex;
            align-content:center;
            align-items: center;
            gap: 2rem;
            margin-bottom: 1rem;
            >h3{
                font-family: 'Kanit';
                font-style: normal;
                font-weight: 500;
                font-size: 34px;
                line-height: 54px;
                color: #172E73;
                @include media(975px) {
                    font-size: 28px;
                 }
                 @include media(550px) {
                    font-size: 24px;
                    gap: 0rem;
                 }
                 @include media(350px) {
                  font-size: 20px;
                  gap: 0rem;
               }
            }
        }
        .paragraph{
            font-family: 'Kanit';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 125%;
            color: #172E73;
            @include media(975px) {
                font-size: 24px;
                width: 100%;
             }
             @include media(550px) {
                font-size: 20px;
             }
             @include media(350px) {
               font-size: 18px;
            }
        }
        .HelpBoxesOnly{
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 6rem;
            @include media(975px) {
                gap: 2rem;
                width: 100%;
             }
        }
        .HelpBox1{
            background: #E6F0FF;
            border-radius: 32px;
            padding: 3rem;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            @include media(975px) {
                padding: 2rem;
             }
             @include media(550px) {
                width: 100%;
                padding: 2rem;
             }

        }
        .HelpBox2{
            background: #FEECEB;
            border-radius: 32px;
            padding: 3rem;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            @include media(975px) {
                padding: 2rem;
             }
             @include media(550px) {
                width: 100%;
                padding: 2rem;

             }
        }
}