.signinContainer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 100vh;
    padding: 10px;
    
    .bgcontainer {
        background: url(../assets/right-frame.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        border-radius: 10px;
        position: relative;
        width: 40%;

        .text {
            position: absolute;
            top: 30%;
            width: 90%;
            margin: auto;
            left: 0;
            right: 0;

            p {
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                text-align: center;

                &:nth-child(1) {
                    margin-bottom: 20px;
                }

                &:nth-child(2) {
                    font-weight: 300;
                    font-size: 15px;
                }
            }
        }

    }

    .inputsection {
        // padding: 20px 0 0 0;
        width: 30%;
        margin: auto;
    
        img {
            width: 100px;
        }

        .greeting {
            padding: 20px 0;
            display: block;
            margin: 0;
            h1 {
                font-weight: 600;
                color: #454545;
                font-size: 2.5vw;
            }

            p {
                color: #454545;
                font-size: 16px;
                font-weight: 300;
            }
        }

        .formContainer {
            div:nth-child(1) {
                margin: 0 ;
            }
            .forms {
                margin: 20px 0;
                box-sizing: border-box;
                display: block;
                label {
                    font-size: 13px;
                    color: #6A6A6A;
                    font-weight: 300;
                }

                .err {
                    position: absolute;
                    color: #F44336;
                    font-size: 12px;
                    display: none;
                }

                &:focus-within > .err {
                    display: block;
                }

                .field {
                    width: 100%;
                    color: #454545;
                    font-weight: 300;
                    font-size: 14px;
                    padding: 13px 15px !important;
                    border: 1px solid #C5C5C5 !important;
                    margin-top: 5px !important;
                    transition: all 1s ease;
                    position: relative;

                    &:focus {
                        border-color: #006CFF !important;
                    }

                }
                .errfield {
                    &:focus {
                        border-color: #F44336 !important;
                    }
                }
                
                ::placeholder {
                    color: #A9A9A9;
                    font-size: 12px;
                    font-weight: 200;
                }
            }

          
            .buttonVld {
                background-color: #006CFF;
                color: #fff;
                width: 100%;
                padding: 12px;
                border: 1px solid transparent;
                font-weight: 300;
                margin-top: 1rem;
                cursor: pointer;
                transition: all .9s ease ;
                
                &:hover {
                    background: transparent;
                    border-color: #006CFF;
                    color: #006CFF;
                }
            }
        }
    }
}

@media (max-width: 855px) {
    .signinContainer {
        .bgcontainer {
            display: none;
        }

        .inputsection {
            width: 60%;

            .greeting {
                h1 {
                    font-size: 25px;
                }
            }
        }
    }
}

@media (max-width: 454px) {
    .signinContainer {
        .inputsection {
            width: 80%;

            .greeting {
                h1 {
                    font-size: 20px;
                }
            }
        }
    }
}