@use "../../functions.scss" as *;

.nav {
  $mobile : 950px;
  background-color: white;
  &__ctl {
    display: none;
    @include media($mobile) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-inline: pix-rem(16);
      position: absolute;
      top: 0;
      padding-block: pix-rem(20);
    }
  }

  &__closed {
    display: none;
    @include media($mobile) {
      display: block;
      cursor: pointer;
    }
  }
  &__open {
    display: none;
    @include media($mobile) {
      display: block;
      cursor: pointer;
    }
  }
  padding-block: pix-rem(20);
  &__mobile {
    display: flex;
    justify-content: space-between;
    width: 68%;
    @include media(1150px){
      width: 84%;
    }
    height: auto;
    @include media($mobile) {
      position: fixed;
      flex-direction: column;
      z-index: 4;
      align-items: center;
      top: 0;
      bottom: 0;
      z-index: 4;
      background-color: white;
      inset: 0;
      left: 0;
      justify-content: center;
      width: 100vw;
      display: none;
    }
  }
  @include media($mobile) {
    &__active {
      display: flex;
      position: fixed;
      flex-direction: column;
      z-index: 4;
      align-items: center;
      top: 0;
      bottom: 0;
      z-index: 4;
      background-color: white;
      inset: 0;
      left: 0;
      justify-content: flex-start;
      padding-top: pix-rem(80);
      width: 100vw;
    }
  }

  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(100%, pix-rem(1264));
    margin-inline: auto;
    padding-inline: pix-rem(16);
    position: relative;

    button {
      a {
        color: white;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  &__links {
    display: flex;
    gap: pix-rem(24);
    align-items: center;
    cursor: pointer;
    @include media($mobile) {
      flex-direction: column;
      align-items: center;
      cursor: pointer;
    }
    & > * {
      all: unset;
      color: #5e5e5e;
      font-weight: 300;
    }
  }
  &__img {
    max-width: pix-rem(172);
    @include media(1150px) {
      max-width: pix-rem(86);
    }
  }
  &__ctas {
    display: flex;
    gap: pix-rem(24);
    @include media($mobile) {
      padding-top: pix-rem(40);
      flex-direction: column;
    }
    & > * {
      all: unset;
      padding: pix-rem(16,em) pix-rem(32,em);
      border-radius: pix-rem(4);
      
      @include media($mobile) {
        text-align: center;
        max-width: pix-rem(178);
        flex: 1;
      }
      &:nth-child(1) {
        background-color: transparent;
        color: #006cff;
        border: 1px solid #006cff;
        font-size: clamp(0.625rem, 0.489rem + 0.68vw, 1rem);
        cursor: pointer;

        button {
          background-color: transparent;
          border: none;
          color: #006cff;
          cursor: pointer;
        }
      }
      &:nth-child(2) {
        background-color: #006cff;
        color: white;
        font-size: clamp(0.625rem, 0.489rem + 0.68vw, 1rem);
        cursor: pointer;

        button {
          background-color: transparent;
          border: none;
          color: #FFFFFF;
          cursor: pointer;
        }
      }
    }
  }
}

