banana-dev==4.0.0
bcrypt==4.0.1
fastapi==0.87.0
nltk==3.7
pydantic
PyJWT==2.6.0
python-dotenv==0.21.0
SQLAlchemy==1.4.44
starlette==0.21.0
uvicorn==0.20.0
python-jose
passlib
dnspython==2.2.1
email-validator==1.3.0
python-multipart==0.0.5
fastapi-mail==1.2.1
mutagen==1.46.0
fastapi-pagination==0.10.0

