img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
label,
span,
button {
  font-family: "Poppins", sans-serif;
}

.sect__container {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}

.first__section {
  margin-top: 4.5em;

  .first__top .first__heading {
    width: 85%;
    margin-bottom: 0.5em;
  }

  .first__heading .first__head {
    font-size: 1.5rem;
    color: #313131;
    font-weight: 600;
    font-style: bold;
    fill: solid;
    line-height: 1.5rem;
  }

  .first__top .first__inline {
    color: #006cff;
  }

  .first__bottom .first__subhead {
    font-size: 0.7rem;
    color: #454545;
    font-weight: 300;
    font-style: bold;
    fill: solid;
    line-height: 1.25rem;
    margin-top: 1em;
  }

  .first__bottom .subhead__inline {
    font-weight: 600;
  }

  .first__bottom .hero__image {
    margin-top: 1.5em;
  }
}

//Styling of the second section

.second__section {
  margin-top: 4.5em;

  .head__container {
    text-align: center;
  }

  .head__container .second__head {
    font-size: 1.5rem;
    color: #181817;
    font-weight: 600;
    font-style: bold;
    fill: solid;
    line-height: 2rem;
  }

  .second__bottom .each__box {
    border: 1px solid #8abbff;
    border-radius: 0.5rem;
    padding: 1em 0.8em 1em 1em;
    margin-top: 1em;
  }

  .second__bottom .heading__icon {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }

  .second__bottom .box__head {
    font-size: 1.1rem;
    color: #1d1d1c;
    font-weight: 600;
    font-style: bold;
    fill: solid;
    line-height: 1.5rem;
  }

  .second__bottom .core__icons {
    margin-left: 0.8em;
    width: 1rem;
  }

  .second__bottom .box__text {
    font-size: 0.7rem;
    color: #454545;
    font-weight: 300;
    font-style: bold;
    fill: solid;
    line-height: 1.25rem;
  }
}

//Styling of the third section

.third__section {
  margin-top: 4.5em;

  .third__container {
    background-color: #f5f8fa;
    padding: 1.25em 0.875em;
    border-radius: 0.25rem;
  }

  .third__container .third__top {
    text-align: center;
  }

  .third__container .third__heading {
    margin-bottom: 1em;
  }

  .third__container .third__head {
    font-size: 1.5rem;
    color: #1d1d1c;
    font-weight: 600;
    font-style: bold;
    fill: solid;
    line-height: 2rem;
  }

  .third__container .third__subtext {
    margin-bottom: 0.5em;
  }

  .third__container .third__subhead {
    font-size: 0.7rem;
    color: #454545;
    font-weight: 300;
    font-style: bold;
    fill: solid;
    line-height: 1.25rem;
  }

  .third__bottom {
    display: flex;
    justify-content: space-between;
  }

  .third__bottom .each__flex {
    display: flex;
    flex-direction: column;
  }

  .third__bottom .third__flex {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
  }

  .third__bottom .comp__icons {
    width: 0.8rem;
  }

  .third__bottom .icon__head {
    font-size: 0.6rem;
    color: #1d1d1c;
    font-weight: 600;
    line-height: 1rem;
    margin: 0 10px 0 5px;
  }
}

//Styling of the fourth section

.fourth__section {
  margin: 4.5em 0em;

  .fourth__top .fourth__heading {
    margin-bottom: 1em;
    text-align: center;
  }

  .fourth__top .fourth__head {
    font-size: 1.5rem;
    color: #1f1f1f;
    font-weight: 600;
    font-style: bold;
    fill: solid;
    line-height: 2rem;
  }

  .fourth__top .fourth__subtext {
    text-align: center;
  }

  .fourth__top .fourth__subhead {
    font-size: 0.7rem;
    color: #454545;
    font-weight: 300;
    font-style: bold;
    fill: solid;
    line-height: 1.25rem;
  }

  .fourth__bottom .flex__profile {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3.5em;
  }

  .fourth__bottom .profile__box {
    flex-basis: 48%;
    margin-top: 1.5em;
  }

  .fourth__bottom .profile__text {
    text-align: center;
    margin-top: 1.5em;
  }

  .fourth__bottom .profile__name {
    font-size: 0.7rem;
    color: #313131;
    font-weight: 600;
    font-style: bold;
    fill: solid;
    line-height: 1rem;
  }

  .fourth__bottom .profile__desc {
    font-size: 0.7rem;
    color: #454545;
    font-weight: 400;
    font-style: normal;
    fill: solid;
    line-height: 1.75rem;
  }

  .team__content {
    text-align: center;
    margin-top: 3rem;
  }

  .team__content .team__expand {
    font-size: 1.25rem;
    color: #006cff;
    font-weight: 300;
    font-style: bold;
    fill: solid;
    line-height: 1.75rem;
  }
}

@media (min-width: 768px), (min-width: 4000px) {
  //Styling of the first section (desktop view)

  .first__section {
    .first__top .first__heading {
      width: 60%;
      margin-bottom: unset;
    }

    .first__top .first__head {
      font-size: 3rem;
    }

    .first__bottom {
      display: flex;
      justify-content: space-between;
    }

    .first__bottom .first__subhead {
      font-size: 1.25rem;
      line-height: 1.5rem;
      margin-bottom: 1em;
    }

    .first__bottom .first__subtext {
      flex-basis: 52%;
    }

    .first__bottom .hero__image {
      margin-top: unset;
      flex-basis: 45%;
      margin-top: 1.2em;
    }

    .first__bottom .hero__figure {
      width: 100%;
    }
  }

  //Styling of the second section (desktop view)

  .second__section {
    .second__row {
      display: flex;
      justify-content: space-between;
    }

    .head__container .second__head {
      font-size: 3rem;
    }

    .second__bottom .each__box {
      flex-basis: 48%;
      margin-top: 1.5em;
    }

    .second__bottom .box__head {
      font-size: 1.5rem;
    }

    .second__bottom .box__text {
      font-size: 1.25rem;
    }

    .second__bottom .core__icons {
      width: 1.9rem;
    }
  }

  //Styling of the third section (desktop view)

  .third__section {
    .third__container {
      padding: 3em 0em 3em;
    }

    .third__container .third__head {
      font-size: 3rem;
    }

    .third__container .third__subtext {
      margin: 1em auto;
      width: 70%;
    }

    .third__container .third__subhead {
      font-size: 1.25rem;
      color: #3f3f3f;
    }

    .third__bottom {
      // display: flex;
      // justify-content: center;
      margin: 0 auto;
      width: 90%;
    }

    .third__bottom .each__flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 45%;
    }

    .third__bottom .reverse {
      flex-direction: row;
    }

    .third__bottom .third__flex {
      width: 40%;
    }

    .third__bottom .comp__icons {
      width: 4rem;
    }

    .third__bottom .icon__head {
      font-size: 1rem;
      color: #686868;
    }

    .third__bottom .desk__icon {
      width: 3rem;
    }
  }

  .fourth__section {
    .fourth__top .fourth__head {
      font-size: 3rem;
      color: #1f1f1f;
    }

    .fourth__top .fourth__subtext {
      margin: 0 auto;
      width: 70%;
    }

    .fourth__top .fourth__subhead {
      font-size: 1.25rem;
    }

    .fourth__bottom .flex__profile {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .fourth__bottom .profile__box {
      flex-basis: 22.5%;
      margin-top: 1.5em;
    }

    .fourth__bottom .profile__name {
      font-size: 1.25rem;
    }

    .fourth__bottom .profile__desc {
      font-size: 1.25rem;
    }
  }
}

@media (min-width: 1000px), (min-width: 4000px) {
  .first__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1024px) {
  .third__section {
    .third__bottom .desk__icon {
      width: 3rem;
    }

    .third__bottom .desk__wrap {
      white-space: nowrap;
      width: 5%;
    }
  }
}

@media only screen and (min-width: 1300px) {
  .third__section {
    .third__bottom .icon__head {
      font-size: 1.5rem;
      color: #686868;
    }
  }
}

@media only screen and (min-width: 1515px) {
  .sect__container {
    width: 78%;
  }
}

@media only screen and (min-width: 1600px) {
  .sect__container {
    width: 76%;
  }
}

@media only screen and (min-width: 1700px) {
  .sect__container {
    width: 72%;
  }
}

@media only screen and (min-width: 1800px) {
  .sect__container {
    width: 68%;
  }
}

@media only screen and (min-width: 1900px) {
  .sect__container {
    width: 64%;
  }
}

@media only screen and (min-width: 2000px) {
  .sect__container {
    width: 60%;
  }
}
