// fill in styles

// @mixin tablet {
//     @media screen and (max-width: 991px) {
//       @content;
//     }
//   }
//   @mixin mobile {
//     @media screen and (max-width: 579px) {
//       @content;
//     }
//   }
  
//   $heading: #313131;
//   $blue: #006cff;
//   $boxblue: #8ABBFF;
//   $text: #1d1d1c;
//   $blue-bg: #e6f0ff;
  
//   %paragraph {
//     color: $text;
//     font-size: 20px;
//     line-height: 26px;
//     font-weight: 300;
//     @include mobile {
//       font-size: 16px;
//       line-height: 20px;
//     }
//   }
//   %h4 {
//     font-size: 24px;
//     font-weight: 600;
//     color:$text;
  
//     @include mobile {
//       font-size: 20px;
//     }
//   }
//   %h5 {
//     font-size: 20px;
//     font-weight: 600;
//     color:#313131;
//   }
  
//   .row {
//     display: flex;
  
//     @include tablet {
//       display: flex;
//       flex-direction: column;
//     }
//   }
//   .column {
//     padding: 30px;
//     display: flex;
//     align-items: center;
//     flex-direction: column;
  
//     @include mobile {
//       padding: 0px;
//     }
//   }
  
//   .container {
//     width: 95%;
//     max-width: 1440px;
//     margin: 0 auto;
  
//     .heading {
//       font-size: 48px;
//       font-weight: 600;
//       text-align: center;
//       color: $text;
  
//       @include mobile {
//         font-size: 24px;
//       }
//     }
//     .contain {
//       width: 60%;
//       // margin: 4.5em auto;
//       // border-bottom: 1px solid #B0CAD9;
  
//       @include tablet {
//         width: 95%;
//         padding-left: 0px;
//         padding-right: 0px;
//       }
//       @include mobile {
//         width: 95%;
//         margin: 2.5em auto;
//       }
  
//       .heading {
//         @include mobile {
//           padding: 0;
//         }
//       }
//     }
//     span {
//       color: $blue;
//     }
  
//     .column__left,
//     .column__right {
//       width: 50%;
//       p {
//         @extend %paragraph;
//       }
//       img {
//         width: 100%;
//       }
//       @include tablet {
//         width: 100%;
//         padding: 40px 0px;
//       }
//       @include mobile {
//         width: 100%;
//       }
//     }
//     @include tablet {
//       padding: 50px;
//     }
//     @include mobile {
//       padding: 20px;
//     }
//   }
//   .hero {
//     .row {
//       display: flex;
//       justify-content: center;
//       // text-align: center;
//     }
//   }

//   .overall__value {
//       background-color: $blue-bg;
//       padding-top: 2.5em;

//       @include mobile {
//         padding-top: 0em;
//       }
//   }
  
//   .container__values {
  
//     .row__col {
//       display: flex;
//       flex-direction: column;
//     }

//     .row {
//       @include mobile {
//         margin-top: 1em;
//       }
//     }

//     .column__right,
//     .column__left {
//       @include mobile {
//         padding: 0px;
//       }
//       @include tablet {
//         padding: 0px;
//       }
//     }
  
//     .wrap {
//       border: 1px solid $boxblue;
//       padding: 20px;
//       border-radius: 8px;
//       margin-bottom: 50px;
  
//       @include mobile {
//         margin-bottom: 30px;
//       }
//     }
//     .heading__icon {
//       display: flex;
//       align-items: center;
//       margin-bottom: 20px;
  
//       @include mobile{
//         justify-content: center;
//       }
    
//       h4 {
//         margin-right: 30px;
  
//         @extend %h4;
//       }
//       img {
//         width: 30px;
//       }
//     }
//   }


//   .container__partners {
//     p {
//       text-align: center;
//       margin-top: 1em;
//       @extend %paragraph;
//     }

//     .row__col {
//       margin-top: 3.5em;

//       @include mobile {
//         margin-top: 1em;
//       }
//     }

//     .row {
//       display: flex;
//       justify-content: space-between;
//       flex-direction: row;
//       width: 95%;
//       margin: 0 auto;
  
//       @include tablet {
//         flex-wrap: wrap;
//       }
  
//       @include mobile {
//         flex-direction: row;
//         flex-wrap: wrap;
//         padding-top: 30px;
//       }
//     }
//     .companies {
//       display: flex;
//       align-items: center;
//       margin-top: 1em;
      
//       @include tablet {
//         width: 40%;
//         padding: 10px;
//       }
  
//       @include mobile {
//         width: 100%;
//         padding: 10px;
//       }
  
//       img {
//         width: 55px;
//         margin-right: 20px;
  
//         @include mobile {
//           width: 30px;
//         }
//       }
//     }
//     .partners__text {
//       width: 60%;
//       margin: 0 auto;
  
//       @include tablet {
//         width: 95%;
//         margin: 0 auto;
//       }
//       @include mobile {
//         padding: 0px;
//         width: 95%;
//         margin: 0 auto;
//       }
//     }
//   }


//   .container__team {

//     .row__col {
//       margin-top: 5em;
//     }

//     .row {
//       flex-direction: column;
//     }
//     .col {
//       padding: 20px;
//       width: 25%;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
  
//       @include mobile {
//         padding: 0px;
//         width: 45%;
//         margin-bottom: 20px;
//       }
//       @include tablet{
//        flex-wrap: wrap;
//       }
  
//       img {
//         width: 100%;
//       }
//     }
//     .wrap2 {
//       display: flex;
//       flex-wrap: wrap;
//       justify-content: space-between;
//       margin-top: 1.5em;
  
//       @include tablet {
//         justify-content: space-between;
//         gap: 20px;
//       }
  
//       @include mobile {
//         justify-content: space-between;
//         gap: 20px;
//       }
//     }
//     h5 {
//       margin-top: 20px;
//       margin-bottom: 20px;
//       @extend %h5;
//       text-align: center;
  
//       @include mobile {
//         font-size: 14px;
//         margin-bottom: 10px;
//       }
//     }
//     p {
//       margin-top: .5em;
//       @extend %paragraph;
  
//       @include mobile {
//         font-size: 16px;
//       }
//     }
//     .team__text {
//       width: 60%;
//       margin: 0 auto;
//       text-align: center;
  
//       @include mobile {
//         padding: 0px;
//         width: 95%;
//         margin: 0 auto;
//       }
//       @include tablet {
//         width: 95%;
//         margin: 0 auto;
//       }
//     }
//   }


//   .hero {
//     .row {
//       margin-bottom: 3em;
//       @include tablet {
//         padding-top: 0px;
//       }
//       @include mobile {
//         padding-top: 0px;
//         margin-bottom: 0em;
//       }
//     }

//     h1 {
//       margin-bottom: .5em;
//     }

//     h1 {
//       @include mobile {
//       }
     
       
//       }
//       .heading{
//         @include mobile{
//         }
//     }
//   }
//   .container {
//     @include mobile {
//       padding-top: 50px;
//     }
//   }
  
//   .row1 {
//     display: flex;
//     align-items: center;
//     p {
//       text-align: left;
//       margin-bottom: 20px;
//     }
//     .column__left {
//       @include mobile {
//         padding-top: 0px;
//       }
//     }
//     @include tablet {
//       padding: 20px 0px;
//     }
//     span {
//       font-weight: 600;
//       color: $text;
//     }
//   }

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
label,
span,
button {
  font-family: "Kanit", sans-serif;
}

.sect__container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.first__section {
  margin-top: 3em;

  .first__top .first__heading {
    width: 85%;
    margin-bottom: .5em;
  }

  .first__top .first__head {
    font-size: 1.5rem;
    color: #313131;
    font-weight: 600;
    font-style: bold;
    fill: solid;
    line-height: 1.5rem;
  }

  .first__top .first__inline {
    color: #006CFF;
  }

  .first__bottom .first__subhead {
    font-size: .875rem;
    color: #454545;
    font-weight: 300;
    font-style: bold;
    fill: solid;
    line-height: 1.25rem;
    margin-top: 1em;
  }

  .first__bottom .subhead__inline {
    font-weight: 600;
  }

  .first__bottom .hero__image {
    margin-top: 1.5em;
  }
}