.roe {
  opacity: 0.5;
  width: 50%;
  right:0;
  position: absolute;
  
  margin-bottom:10px;
  .col {
    width: 100%;
  }
  .cardtop {
    padding: 10px;
    
    }
  }

  .card-content{.short {
    height: 20px;
    width: 100%;
    cursor: progress;
    background-color: gray;
    border-radius: 20px;
    animation: skeleton-loading 1s linear infinite alternate;
  }
     
    }

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 63%);
  }

  100% {
    background-color: hsl(200, 20%, 93%);
  }
}

@keyframes skeleton-image-loading {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}
