@import "../../../../assets/styles/utilities/functionsANDmedia";
@import "../../media";

.card {
  display: flex;
  gap: pix-rem(56);

  @include mediaQuery(768px) {
    gap: pix-rem(15);
  }

  .time {
    font-size: clamp(pix-rem(16), 1vw, pix-rem(32));
    font-weight: 400;
    color: #828282;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: pix-rem(12);
    margin-right: auto;

    &__text {
      font-size: clamp(pix-rem(16), 1vw, pix-rem(32));
      font-weight: 300;
      color: #3f3f3f;
    }

    .content__analysis {
      .content__analysis__top {
        display: flex;
        align-items: center;
        gap: pix-rem(8);
        margin-bottom: pix-rem(12);

        .title {
          color: #828282;
          font-weight: 300;
          font-size: clamp(pix-rem(16), 1vw, pix-rem(32));
        }

        .title__line {
          width: 100%;
          height: 0px;
          border-bottom: 1px solid #c5c5c5;
        }
      }

      .content__analysis__metrics {
        display: flex;
        gap: pix-rem(20);
        flex-wrap: wrap;

        .metric {
          font-size: clamp(pix-rem(14), 0.6vw, pix-rem(28));
          border-radius: 0.286em;
          padding: 0.286em 2em;
        }

        .positive {
          background-color: #8abc191a;
          color: #2b6b37;
        }

        .neutral {
          background-color: #f7c16526;
          color: #b5a72a;
        }

        .negative {
          background-color: #ff39561a;
          color: #86251e;
        }
      }
    }
  }
}
