.subscribe{
  padding: 3rem 2rem;
  background: #002d6b;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 12rem;
  text-align: center;
  border-radius: 25px;
}

.inputs{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.subscribeHeading{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: white;
}

.subscribeparagraph{
  color: white;
  font-size: 18px;
  font-weight: 400;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  padding: 0 2rem;
}

.subscribe_button{
  background: #3366FF;
  width: 30%;
  color: white;
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      font-size: 16px;
}

.input_value{
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 70%;
}

@media (min-width:350px) and (max-width:881px) {
  .subscribe{
    padding: 3rem 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 8rem;

  }

  .subscribeparagraph{
    width: 100%;
  }

  .inputs{
    flex-direction: column;
    width: 60%;
    gap: 1rem;
  }

  .subscribe_button{
    width: 100%;
  }

  .input_value{
    width: 100%;
  }

  .subscribeHeading{
    font-size: 36px;
  }

}

@media (min-width:882px) and (max-width:1170px) {

  .subscribe{
    padding: 3rem 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 10rem;

  }

  .subscribeparagraph{
    width: 70%;
  }

  .subscribe_button{
    width: 40%;
  }

  .input_value{
    width: 60%;
  }

  .subscribeHeading{
    font-size: 36px;
  }

}