@import "../../../../assets/styles/utilities/functionsANDmedia";

.overall__sentiment {
  flex-direction: column;
  .title {
    color: #1d1d1d;
    font-size: pix-rem(20);
    font-weight: 400;
  }
}
