@import "../../../../assets/styles/utilities/functionsANDmedia";

.overall__sentiment {
  flex-direction: column;
  .title {
    color: #1d1d1d;
    font-size: clamp(pix-rem(20), 1vw, pix-rem(40));
    font-weight: 400;
  }
}

@include keyframes(skeleton-loading) {
  from {
    background-color: hsl(200, 20%, 70%);
  }

  to {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton__chart {
  opacity: 0.3;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: skeleton-loading 1s ease-in-out infinite alternate;
}
