@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, input, textarea, label, span, button {
  font-family: "Kanit", sans-serif;
}

.sect__container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

.overall__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.first__section {
  flex-basis: 48%;
  position: relative;
  height: 95vh;
  display: flex;
  align-items: center;
}
.first__section .logo__container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
}
.first__section .logo__container .logo__text {
  margin-left: 0.5em;
}
.first__section .logo__container .logo__head {
  font-size: 1.25rem;
  color: #454545;
  font-weight: 600;
  font-style: bold;
  fill: solid;
  line-height: 1.5rem;
}
.first__section .logo__container .heed__logo {
  width: 1.25rem;
}
.first__section .bottom__content .second__top .second__heading {
  margin-bottom: 0.5em;
}
.first__section .bottom__content .second__top .second__head {
  font-size: 1.5rem;
  color: #3F3F3F;
  font-weight: 600;
  font-style: bold;
  fill: solid;
  line-height: 1.5rem;
}
.first__section .bottom__content .second__top .second__subtext {
  margin-bottom: 1.5em;
}
.first__section .bottom__content .second__top .second__subhead {
  font-size: 1rem;
  color: #3F3F3F;
  font-weight: 400;
  font-style: normal;
  fill: solid;
  line-height: 1.5rem;
}
.first__section .bottom__content .form__container .label__name {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  color: #6A6A6A;
  font-weight: 400;
  font-style: normal;
  fill: solid;
  line-height: 1rem;
  margin-bottom: 1.5em;
}
.first__section .bottom__content .form__container .form__button {
  width: 100%;
  font-weight: 500;
  border: none;
  border-radius: 0.3rem;
  padding: 0.8em 0.8em;
  background-color: #006CFF;
  color: #FFFFFF;
  font-size: 0.7rem;
  line-height: 1.5rem;
  outline: none;
  margin-bottom: 0.5em;
}
.first__section .bottom__content input {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 0.8rem;
  border: thin solid #C5C5C5;
  margin-bottom: 1rem;
  outline: none;
}
.first__section .bottom__content .errorInput {
  border: 1px solid #F44336 !important;
}
.first__section .bottom__content .errorMsg {
  font-size: 12px;
  line-height: 16px;
  color: #F44336 !important;
  text-align: left !important;
  margin-bottom: 0.5rem;
}
.first__section .bottom__content .link__container {
  text-align: center;
}
.first__section .bottom__content .link__container .link__text {
  font-size: 0.68rem;
  color: #1F1F1F;
  font-weight: 400;
  font-style: normal;
  fill: solid;
  line-height: 1.5rem;
}
.first__section .bottom__content .link__container .option__link {
  color: #006CFF;
  margin-left: 0.3em;
}

.second__section {
  flex-basis: 48%;
  margin: auto 0;
  background-color: #E6F0FF;
  border-radius: 0.5rem;
  height: 95vh;
  display: flex;
  align-items: center;
}
.second__section .check__icon {
  width: 80%;
  margin: 0 auto;
}
.second__section .mobile__view {
  display: none;
}

@media (max-width: 700px) {
  .overall__container {
    display: flex;
    flex-direction: column-reverse;
  }
  .first__section {
    padding-bottom: 5em;
    width: 100%;
  }
  .first__section .logo__container {
    display: none;
  }
  .second__section {
    background-color: unset;
    position: relative;
  }
  .second__section .logo__container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
  }
  .second__section .logo__container .logo__text {
    margin-left: 0.5em;
  }
  .second__section .logo__container .logo__head {
    font-size: 1.25rem;
    color: #454545;
    font-weight: 600;
    font-style: bold;
    fill: solid;
    line-height: 1.5rem;
  }
  .second__section .logo__container .heed__logo {
    width: 1.25rem;
  }
  .second__section .check__icon {
    width: 60%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=forgotPassword.module.css.map */