@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap");

.Transcribe {
  font-family: "Kanit", sans-serif;
}

@media screen and (max-width: 480px) {
  .Transcribe {
    left: 0;
    width: 100vw;
  }
}
